{{ header }}

<div class="container-fluid container-lg flex-grow-1 sc-product mobile-no-gutters">
	<nav aria-label="breadcrumb">
		<ul class="breadcrumb sc-breadcrumb fsz-12">
			{% for breadcrumb in breadcrumbs %}
				{% if loop.last %}
					<li class="breadcrumb-item sc-breadcrumb-item">{{ breadcrumb.text }}</li>
				{% else %}
					<li class="breadcrumb-item sc-breadcrumb-item">
						<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</nav>
	<main class="main">
		{{ content_top }}
		{% if error_warning %}
			<div class="alert alert-danger d-none">
				<i class="fa fa-exclamation-circle"></i>
				{{ error_warning }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			<script>
				$(function () {
					$('#button-go').attr('disabled', 'disabled');
					$('#button-go').addClass('disabled');
					});
			</script>
		{% endif %}
		<div class="row">
			<div class="col-12 sc-page-title pb-3">
				<h1>{{ heading_title }}</h1>
			</div>
		</div>
		<div class="oct-checkout row g-3 g-md-4">
			<div class="col-lg-8">
				<div class="d-flex flex-column">
					<div class="row mb-4 order-{{ user_block_sort }}">
						<div class="col-12">
							<div class="oct-checkout-block">
								<div class="d-flex flex-column flex-md-row align-items-md-center justify-content-md-between">
									<div class="oct-checkout-block-title d-flex align-items-center mb-3 mb-md-0">
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
											<path d="M15.7692 0.531982H4.23077C1.50256 0.531982 0 2.03455 0 4.76275V16.3012C0 19.0294 1.50256 20.532 4.23077 20.532H15.7692C18.4974 20.532 20 19.0294 20 16.3012V4.76275C20 2.03455 18.4974 0.531982 15.7692 0.531982ZM15.3846 18.9935H4.61539V18.6038C4.61539 17.7494 4.87696 14.9627 8.24619 14.9627H11.7538C15.123 14.9627 15.3846 17.7494 15.3846 18.6038V18.9935ZM18.4615 16.3012C18.4615 17.7433 17.9867 18.5494 16.9231 18.8509V18.6038C16.9231 16.214 15.5692 13.4242 11.7538 13.4242H8.24619C4.43081 13.4242 3.07692 16.2151 3.07692 18.6038V18.8509C2.01333 18.5494 1.53846 17.7422 1.53846 16.3012V4.76275C1.53846 2.87557 2.34359 2.07044 4.23077 2.07044H15.7692C17.6564 2.07044 18.4615 2.87557 18.4615 4.76275V16.3012ZM10.0083 4.63455C7.88826 4.63455 6.16211 6.35967 6.16211 8.4807C6.16211 10.6017 7.88826 12.3269 10.0083 12.3269C12.1283 12.3269 13.8544 10.6017 13.8544 8.4807C13.8544 6.35967 12.1283 4.63455 10.0083 4.63455ZM10.0083 10.7884C8.73647 10.7884 7.70057 9.75352 7.70057 8.4807C7.70057 7.20788 8.73647 6.17301 10.0083 6.17301C11.2801 6.17301 12.316 7.20788 12.316 8.4807C12.316 9.75352 11.2801 10.7884 10.0083 10.7884Z" fill="#00171F"></path>
										</svg>
										<span class="text-uppercase">{{ heading_user_block }}</span>
									</div>
								</div>
								{% if not user_logged %}
									<div class="new-tabs">
										<a href="#" class="tab_a active" data-tab="1">{{ text_new_user }}</a>
										<a href="#" class="tab_a" data-tab="2">{{ text_old_user }}</a>
									</div>
								{% endif %}
								<div class="row mt-3 gx-3 gx-md-4 gy-3 register_block tab_cont" data-tab="1">
									{% if oct_fastorder_data.customer_groups == 1 and customer_groups and not user_logged and oct_fastorder_data.registration == 1 %}
										<div class="col-lg-12 mb-3">
											<label class="dark-text fsz-14 fw-500 mb-1">{{ entry_customer_group }}</label>
											{% for customer_group in customer_groups %}
												<div class="form-check d-flex align-items-center mb-0">
													<label class="form-check-label d-flex align-items-center ms-0 mb-2">
														<input type="radio" class="form-check-input" name="customer_group_id" value="{{ customer_group.customer_group_id }}" {% if customer_group.customer_group_id == customer_group_id %} checked="checked" {% endif %}/>{{ customer_group.name }}</label>
												</div>
											{% endfor %}
										</div>
									{% else %}
										<input type="hidden" name="customer_group_id" value="{{ customer_group_id }}"/>
									{% endif %}
									<div class="form-group col-lg-6">
										<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-telephone">
											<span class="required">*</span>
											{{ entry_telephone }}</label>
										<input type="tel" name="telephone" value="{{ telephone_user ? telephone_user : telephone }}" placeholder="{{ entry_telephone }}" id="input-payment-telephone" class="form-control" inputmode="tel">
									</div>
									{% if oct_fastorder_data.email and oct_fastorder_data.email == 2 %}
										<div class="form-group col-lg-6">
											<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-email">
												<span class="required">*</span>
												{{ entry_email }}</label>
											<input type="text" name="email" value="{{ email_user ? email_user : email }}" placeholder="{{ entry_email }}" id="input-payment-email" class="form-control" inputmode="email">
										</div>
									{% elseif oct_fastorder_data.email and oct_fastorder_data.email == 1 %}
										<div class="form-group col-lg-6">
											<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-email">{{ entry_email }}</label>
											<input type="text" name="email" value="{{ email_user ? email_user : email }}" placeholder="{{ entry_email }}" id="input-payment-email" class="form-control" inputmode="email">
										</div>
									{% else %}
										<input type="hidden" name="email" value="{{ oct_fastorder_data.notify_email }}"/>
									{% endif %}
									<div class="form-group col-lg-6">
										<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-firstname">
											<span class="required">*</span>
											{{ entry_firstname }}</label>
										<input type="text" name="firstname" value="{{ address.firstname ? address.firstname : firstname }}" placeholder="{{ entry_firstname }}" id="input-payment-firstname" class="form-control" inputmode="text">
									</div>
									{% if oct_fastorder_data.lastname and oct_fastorder_data.lastname == 1 %}
										<div class="form-group col-lg-6">
											<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-lastname">
												<span class="required">*</span>
												{{ entry_lastname }}</label>
											<input type="text" name="lastname" value="{{ address.lastname ? address.lastname : lastname }}" placeholder="{{ entry_lastname }}" id="input-payment-lastname" class="form-control" inputmode="text">
										</div>
									{% else %}
										<input type="hidden" name="lastname" value=""/>
									{% endif %}
									{% if oct_fastorder_data.fax and oct_fastorder_data.fax == 1 %}
										<div class="form-group col-lg-6">
											<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-fax">{{ entry_fax }}</label>
											<input type="text" name="fax" value="{% if fax is defined and fax %}{{ fax }}{% endif %}" placeholder="{{ entry_fax }}" id="input-payment-fax" class="form-control"/>
										</div>
									{% else %}
										<input type="hidden" name="fax" value=""/>
									{% endif %}
									{% if custom_fields %}
										{% for custom_field in custom_fields %}
											{% if custom_field.location == 'account' %}
												{% if custom_field.type == 'select' %}
													<div class="form-group custom-field col-lg-6">
														<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.required ? '<span class="required">*</span>' : '' }}{{ custom_field.name }}</label>
														<div class="">
															<select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control rm-select">
																<option value="">{{ text_select }}</option>
																{% for custom_field_value in custom_field['custom_field_value'] %}
																	{% if account_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == account_custom_field[custom_field.custom_field_id] %}
																		<option value="{{ custom_field_value.custom_field_value_id }}" selected="selected">{{ custom_field_value.name }}</option>
																	{% else %}
																		<option value="{{ custom_field_value.custom_field_value_id }}">
																			{{ custom_field_value.name }}</option>
																	{% endif %}
																{% endfor %}
															</select>
														</div>
													</div>
												{% endif %}
												{% if custom_field.type == 'radio' %}
													<div class="form-group custom-field col-lg-6">
														<label class="dark-text fsz-14 fw-500 mb-1">{{ custom_field.required ? '<span class="required">*</span>' : '' }}{{ custom_field.name }}</label>
														<div class="">
															<div id="input-payment-custom-field{{ custom_field.custom_field_id }}">
																{% for custom_field_value in custom_field['custom_field_value'] %}
																	<div class="form-check d-flex align-items-center mb-0">
																		{% if account_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == account_custom_field[custom_field.custom_field_id] %}
																			<label class="form-check-label d-flex align-items-center">
																				<input type="radio" class="form-check-input" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" checked="checked"/>
																				{{ custom_field_value.name }}</label>
																		{% else %}
																			<label class="form-check-label d-flex align-items-center">
																				<input type="radio" class="form-check-input" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}"/>
																				{{ custom_field_value.name }}</label>
																		{% endif %}
																	</div>
																{% endfor %}
															</div>
														</div>
													</div>
												{% endif %}
												{% if custom_field.type == 'checkbox' %}
													<div class="form-group custom-field col-lg-6">
														<label class="dark-text fsz-14 fw-500 mb-1">{{ custom_field.required ? '<span class="required">*</span>' : '' }}{{ custom_field.name }}</label>
														<div class="">
															<div id="input-payment-custom-field{{ custom_field.custom_field_id }}">
																{% for custom_field_value in custom_field['custom_field_value'] %}
																	<div class="checkbox">
																		{% if account_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id in account_custom_field[custom_field.custom_field_id]%}
																			<label>
																				<input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" checked="checked"/>
																				{{ custom_field_value.name }}</label>
																		{% else %}
																			<label>
																				<input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}"/>
																				{{ custom_field_value.name }}</label>
																		{% endif %}
																	</div>
																{% endfor %}
															</div>
														</div>
													</div>
												{% endif %}
												{% if custom_field.type == 'text' %}
													<div class="form-group custom-field col-lg-6">
														<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.required ? '<span class="required">*</span>' : '' }}{{ custom_field.name }}</label>
														<div class="">
															<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ account_custom_field[custom_field.custom_field_id] ? account_custom_field[custom_field.custom_field_id] : custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control" inputmode="text">
														</div>
													</div>
												{% endif %}
												{% if custom_field.type == 'textarea' %}
													<div class="form-group custom-field col-lg-6">
														<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.required ? '<span class="required">*</span>' : '' }}{{ custom_field.name }}</label>
														<div class="">
															<textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control">{{ account_custom_field[custom_field.custom_field_id] ? account_custom_field[custom_field.custom_field_id] : custom_field.value }}</textarea>
														</div>
													</div>
												{% endif %}
												{% if custom_field.type == 'file' %}
													<div class="form-group custom-field col-lg-6">
														<label class="dark-text fsz-14 fw-500 mb-1">{{ custom_field.required ? '<span class="required">*</span>' : '' }}{{ custom_field.name }}</label>
														<div class="">
															<button type="button" id="button-shipping-custom-field{{ custom_field.custom_field_id }}" class="sc-btn sc-btn-primary br-4">
																<i class="fa fa-upload"></i>
																{{ button_upload }}</button>
															<input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}"/>
														</div>
													</div>
												{% endif %}
												{% if custom_field.type == 'date' %}
													<div class="form-group custom-field col-lg-6">
														<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.required ? '<span class="required">*</span>' : '' }}{{ custom_field.name }}</label>
														<div class="">
															<input type="date" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ account_custom_field[custom_field.custom_field_id] ? account_custom_field[custom_field.custom_field_id] : custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
														</div>
													</div>
												{% endif %}
												{% if custom_field.type == 'datetime' %}
													<div class="form-group custom-field col-lg-6">
														<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.required ? '<span class="required">*</span>' : '' }}{{ custom_field.name }}</label>
														<div class="">
															<input type="datetime-local" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ account_custom_field[custom_field.custom_field_id] ? account_custom_field[custom_field.custom_field_id] : custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
														</div>
													</div>
												{% endif %}
												{% if custom_field.type == 'time' %}
													<div class="form-group custom-field col-lg-6">
														<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.required ? '<span class="required">*</span>' : '' }}{{ custom_field.name }}</label>
														<div class="">
															<input type="time" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ account_custom_field[custom_field.custom_field_id] ? account_custom_field[custom_field.custom_field_id] : custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
														</div>
													</div>
												{% endif %}
											{% endif %}
										{% endfor %}
									{% endif %}

									{% if addresses %}
										{% if customer_id %}
											<div class="col-md-12{% if not show_payment_adres %} d-none{% endif %}">
												<div class="form-check d-flex align-items-center mb-0">
													<label class="form-check-label ms-0 ps-0 mb-3 d-flex align-items-center">
														<input type="radio" class="form-check-input" name="payment_address" value="existing" checked="checked" onclick="$('#payment-address-new').hide()"/>{{ text_address_existing_payment }}
													</label>
												</div>
												<div id="payment-existing">
													<select name="payment_address_id" class="form-control rm-select">
														{% for address in addresses %}
															{% if payment_address_id and address.address_id == payment_address_id %}
																<option value="{{ address.address_id }}" selected="selected">
																	{{ address.firstname }}{{ address.lastname }},
																	{{ address.address_1 }},
																	{{ address.city }},
																	{{ address.zone }},
																	{{ address.country }}</option>
															{% else %}
																<option value="{{ address.address_id }}">
																	{{ address.firstname }}{{ address.lastname }},
																	{{ address.address_1 }},
																	{{ address.city }},
																	{{ address.zone }},
																	{{ address.country }}</option>
															{% endif %}
														{% endfor %}
													</select>
												</div>
											</div>
										{% endif %}
									{% endif %}

									{% if oct_fastorder_data.company == 1 %}
										<div class="form-group col-lg-6" {% if customer_id and addresses %} style="display:none" {% endif %}>
											<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-company">{{ entry_company }}</label>
											<input type="text" name="company" value="{% if company is defined and company %}{{ company }}{% endif %}" placeholder="{{ entry_company }}" id="input-payment-company" class="form-control" inputmode="text">
										</div>
									{% else %}
										<input type="hidden" name="company" value=""/>
									{% endif %}
									<input type="hidden" name="company_id" value=""/>
									<input type="hidden" name="tax_id" value=""/>




									{% if oct_fastorder_data.postcode == 1 or oct_fastorder_data.postcode == 2 %}
										<div class="form-group col-lg-6" {% if customer_id and addresses %} style="display:none" {% endif %}>
											<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-postcode">
												{% if oct_fastorder_data.postcode == 2 %}
													<span class="required">*</span>
												{% endif %}
												{{ entry_postcode }}</label>
											<input type="text" name="postcode" value="{% if postcode is defined and postcode %}{{ postcode }}{% endif %}" placeholder="{{ entry_postcode }}" id="input-payment-postcode" class="form-control"/>
										</div>
									{% else %}
										<input type="hidden" name="postcode" value=""/>
									{% endif %}
									{% if custom_fields %}
										{% for custom_field in custom_fields %}
											{% if custom_field.location == 'address' %}
												{% if custom_field.type == 'select' %}
													<div class="form-groupcustom-field col-lg-6" {% if customer_id and addresses %} style="display:none" {% endif %}>
														<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.required ? ' <span class="required">*</span>' : '' }}{{ custom_field.name }}</label>
														<div class="">
															<select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control rm-select">
																<option value="">{{ text_select }}</option>
																{% for custom_field_value in custom_field['custom_field_value'] %}
																	<option value="{{ custom_field_value.custom_field_value_id }}">
																		{{ custom_field_value.name }}</option>
																{% endfor %}
															</select>
														</div>
													</div>
												{% endif %}
												{% if custom_field.type == 'radio' %}
													<div class="form-group custom-field col-md-6" {% if customer_id and addresses %} style="display:none" {% endif %}>
														<label class="dark-text fsz-14 fw-500 mb-1">{{ custom_field.required ? ' <span class="required">*</span>' : '' }}{{ custom_field.name }}</label>
														<div class="">
															<div id="input-payment-custom-field{{ custom_field.custom_field_id }}">
																{% for custom_field_value in custom_field['custom_field_value'] %}
																	<div class="form-check d-flex align-items-center mb-0">
																		<label class="form-check-label d-flex align-items-center">
																			<input type="radio" class="form-check-input" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}"/>
																			{{ custom_field_value.name }}</label>
																	</div>
																{% endfor %}
															</div>
														</div>
													</div>
												{% endif %}
												{% if custom_field.type == 'checkbox' %}
													<div class="form-group custom-field col-md-6" {% if customer_id and addresses %} style="display:none" {% endif %}>
														<label class="dark-text fsz-14 fw-500 mb-1">{{ custom_field.required ? ' <span class="required">*</span>' : '' }}{{ custom_field.name }}</label>
														<div class="">
															<div id="input-payment-custom-field{{ custom_field.custom_field_id }}">
																{% for custom_field_value in custom_field['custom_field_value'] %}
																	<div class="checkbox">
																		<label>
																			<input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}"/>
																			{{ custom_field_value.name }}</label>
																	</div>
																{% endfor %}
															</div>
														</div>
													</div>
												{% endif %}
												{% if custom_field.type == 'text' %}
													<div class="form-group custom-field col-lg-6" {% if customer_id and addresses %} style="display:none" {% endif %}>
														<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.required ? ' <span class="required">*</span>' : '' }}{{ custom_field.name }}</label>
														<div class="">
															<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control" inputmode="text">
														</div>
													</div>
												{% endif %}
												{% if custom_field.type == 'textarea' %}
													<div class="form-group custom-field col-lg-6" {% if customer_id and addresses %} style="display:none" {% endif %}>
														<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.required ? ' <span class="required">*</span>' : '' }}{{ custom_field.name }}</label>
														<div class="">
															<textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control">{{ custom_field.value }}</textarea>
														</div>
													</div>
												{% endif %}
												{% if custom_field.type == 'file' %}
													<div class="form-group custom-field col-lg-6" {% if customer_id and addresses %} style="display:none" {% endif %}>
														<label class="dark-text fsz-14 fw-500 mb-1">{{ custom_field.required ? ' <span class="required">*</span>' : '' }}{{ custom_field.name }}</label>
														<div class="">
															<button type="button" id="button-shipping-custom-field{{ custom_field.custom_field_id }}" class="sc-btn sc-btn-primary br-4">
																<i class="fa fa-upload"></i>
																{{ button_upload }}</button>
															<input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}"/>
														</div>
													</div>
												{% endif %}
												{% if custom_field.type == 'date' %}
													<div class="form-group custom-field col-lg-6" {% if customer_id and addresses %} style="display:none" {% endif %}>
														<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.required ? ' <span class="required">*</span>' : '' }}{{ custom_field.name }}</label>
														<div class="">
															<input type="date" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
														</div>
													</div>
												{% endif %}
												{% if custom_field.type == 'datetime' %}
													<div class="form-group custom-field col-lg-6" {% if customer_id and addresses %} style="display:none" {% endif %}>
														<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.required ? ' <span class="required">*</span>' : '' }}{{ custom_field.name }}</label>
														<div class="">
															<input type="datetime-local" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
														</div>
													</div>
												{% endif %}
												{% if custom_field.type == 'time' %}
													<div class="form-group custom-field col-lg-6" {% if customer_id and addresses %} style="display:none" {% endif %}>
														<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.required ? ' <span class="required">*</span>' : '' }}{{ custom_field.name }}</label>
														<div class="">
															<input type="time" name="custom_field[{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
														</div>
													</div>
												{% endif %}
											{% endif %}
										{% endfor %}
									{% endif %}
									{% if shipping_required %}
										<div class="col-sm-12">
											{% if not customer_id %}
												<div class="form-group" style="display:none;">
													<label class="ms-0"><input type="checkbox" name="shipping_address" value="new" {% if address_id is defined and address_id %} checked="checked" {% endif %} onclick="$('.shipping-address').toggle()">
														{{ text_address_new }}</label>
												</div>
											{% endif %}
											<div class="shipping-address" {% if (shipping_address_id is defined and shipping_address_id) or customer_id is defined %} style="display:block" {% else %} style="display:none" {% endif %}>
												{% if addresses %}
													{% if customer_id %}
														<div class="form-check d-flex align-items-center mb-0">
															<label class="form-check-label ms-0 ps-0 mb-3 d-flex align-items-center">
																<input type="radio" class="form-check-input" name="shipping_address" value="existing" checked="checked" onclick="$('#shipping-new').hide()"/>{{ text_address_existing_shipping }}
															</label>
														</div>
														<div id="shipping-existing">
															<select name="shipping_address_id" class="form-control form-select">
																{% for address in addresses %}
																	{% if shipping_address_id and address.address_id == shipping_address_id %}
																		<option value="{{ address.address_id }}" selected="selected">
																			{{ address.firstname }}{{ address.lastname }},
																			{{ address.address_1 }},
																			{{ address.city }},
																			{{ address.zone }},
																			{{ address.country }}</option>
																	{% else %}
																		<option value="{{ address.address_id }}">
																			{{ address.firstname }}{{ address.lastname }},
																			{{ address.address_1 }},
																			{{ address.city }},
																			{{ address.zone }},
																			{{ address.country }}</option>
																	{% endif %}
																{% endfor %}
															</select>
														</div>
													{% endif %}
													{% if customer_id and total_addresses is defined and total_addresses > 0 %}
														<div class="form-check d-flex align-items-center mb-0">
															<label class="form-check-label ms-0 ps-0 mt-3 d-flex align-items-center">
																<input type="radio" class="form-check-input" name="shipping_address" value="new" onclick="$('#shipping-new').show();"/>{{ text_address_new }}</label>
														</div>
													{% endif %}
												{% endif %}

												{% if customer_id and total_addresses is defined and total_addresses > 0 %}
													<div id="shipping-new" class="row mt-0 gx-3 gx-md-4 gy-3 px-2 px-md-0" style="display: none;">
														<div class="oct-fastorder-header fw-500 fsz-18">{{ text_shipping_address }}</div>

														{% if oct_fastorder_data.country_and_region == 1 or oct_fastorder_data.country_and_region == 2 %}
															<div class="form-group col-lg-6" {% if not show_country %} style="display:none" {% endif %}>
																<label class="dark-text fsz-14 fw-500 mb-1" for="input-shipping-country"><span class="required">*</span>{{ entry_country }}</label>
																<select name="shipping_country_id" id="input-shipping-country" class="form-control rm-select">
																	<option value="">{{ text_select }}</option>
																	{% for country in countries %}
																		{% if country.country_id == country_id %}
																			<option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
																		{% else %}
																			<option value="{{ country.country_id }}">{{ country.name }}</option>
																		{% endif %}
																	{% endfor %}
																</select>
															</div>
															<div class="form-group col-lg-6">
																<label class="dark-text fsz-14 fw-500 mb-1" for="input-shipping-zone">
																	<span class="required">*</span>
																	{{ entry_zone }}</label>
																<select name="shipping_zone_id" id="input-shipping-zone" class="form-control rm-select"></select>
															</div>
														{% else %}
															<select name="shipping_country_id" style="display: none;">
																<option value="{{ oct_fastorder_data.default_country }}" selected="selected"></option>
															</select>
															<select name="shipping_zone_id" style="display: none;"></select>
														{% endif %}
														<div class="form-group col-lg-6">
															<label class="dark-text fsz-14 fw-500 mb-1" for="input-shipping-firstname">
																<span class="required">*</span>
																{{ entry_firstname }}</label>
															<input type="text" name="shipping_firstname" value="" placeholder="{{ entry_firstname }}" id="input-shipping-firstname" class="form-control" inputmode="text">
														</div>
														{% if oct_fastorder_data.lastname == 1 %}
															<div class="form-group col-lg-6">
																<label class="dark-text fsz-14 fw-500 mb-1" for="input-shipping-lastname">
																	<span class="required">*</span>
																	{{ entry_lastname }}</label>
																<input type="text" name="shipping_lastname" value="" placeholder="{{ entry_lastname }}" id="input-shipping-lastname" class="form-control" inputmode="text">
															</div>
														{% else %}
															<input type="hidden" name="shipping_lastname" value=""/>
														{% endif %}
														{% if oct_fastorder_data.company == 1 %}
															<div class="form-group col-lg-6">
																<label class="dark-text fsz-14 fw-500 mb-1" for="input-shipping-company">{{ entry_company }}</label>
																<input type="text" name="shipping_company" value="" placeholder="{{ entry_company }}" id="input-shipping-company" class="form-control" inputmode="text">
															</div>
														{% else %}
															<input type="hidden" name="shipping_company" value=""/>
														{% endif %}
														{% if oct_fastorder_data.postcode == 1 %}
															<div class="form-group col-lg-6">
																<label class="dark-text fsz-14 fw-500 mb-1" for="input-shipping-postcode">{{ entry_postcode }}</label>
																<input type="text" name="shipping_postcode" value="{{ postcode }}" placeholder="{{ entry_postcode }}" id="input-shipping-postcode" class="form-control" inputmode="text">
															</div>
														{% else %}
															<input type="hidden" name="shipping_postcode" value=""/>
														{% endif %}
														{% if oct_fastorder_data.city == 1 or oct_fastorder_data.city == 2 %}
															<div class="form-group col-lg-6">
																<label class="dark-text fsz-14 fw-500 mb-1" for="input-shipping-city">
																	{% if oct_fastorder_data.address_2 == 2 %}
																		<span class="required">*</span>
																	{% endif %}
																	{{ entry_city }}</label>
																<input type="text" name="city" value="" placeholder="{{ entry_city }}" id="input-shipping-city" class="form-control" inputmode="text">
															</div>
														{% else %}
															<input type="hidden" name="city" value="{{ oct_fastorder_data.default_city }}"/>
														{% endif %}

														{% if oct_fastorder_data.address_1 == 1 or oct_fastorder_data.address_1 == 2 %}
															<div class="form-group col-lg-6">
																<label class="dark-text fsz-14 fw-500 mb-1" for="input-shipping-address-1">
																	{% if oct_fastorder_data.address_1 == 2 %}
																		<span class="required">*</span>
																	{% endif %}
																	{{ entry_address_1 }}</label>
																<input type="text" name="address_1" value="" placeholder="{{ entry_address_1 }}" id="input-shipping-address-1" class="form-control" inputmode="text">
															</div>
														{% else %}
															<input type="hidden" name="address_1" value=""/>
														{% endif %}

														{% if oct_fastorder_data.address_2 == 1 or oct_fastorder_data.address_2 == 2 %}
															<div class="form-group col-lg-6">
																<label class="dark-text fsz-14 fw-500 mb-1" for="input-shipping-address-2">
																	{% if oct_fastorder_data.address_2 == 2 %}
																		<span class="required">*</span>
																	{% endif %}
																	{{ entry_address_2 }}</label>
																<input type="text" name="address_2" value="" placeholder="{{ entry_address_2 }}" id="input-shipping-address-2" class="form-control" inputmode="text">
															</div>
														{% else %}
															<input type="hidden" name="address_2" value=""/>
														{% endif %}

													</div>
												{% endif %}

											</div>
										</div>
									{% endif %}
									{% if oct_fastorder_data.comment == 1 %}
										<div class="form-group col-lg-12 mt-3">
											<label class="dark-text fsz-14 fw-500 mb-1">{{ text_comments }}</label>
											<textarea name="comment" rows="4" class="form-control">{{ comment }}</textarea>
										</div>
									{% else %}
										<textarea name="comment" rows="4" class="form-control" style="display:none;"></textarea>
									{% endif %}
									{% if not customer_id and oct_fastorder_data.email and oct_fastorder_data.email and not approve %}
										<div class="form-group col-lg-12 mb-0" {% if oct_fastorder_data.registration != 1 %} style="display: none;" {% endif %}>
											<div class="form-check mb-0 d-flex align-items-center">
												<input class="form-check-input" type="checkbox" name="register" onclick="$('.register-form').toggle()" id="registerCheckbox">
												<label class="form-check-label d-flex align-items-center" for="registerCheckbox">{{ text_register }}</label>
											</div>
										</div>
									{% endif %}
									<div class="form-group col-md-6 register-form" style="display: none;">
										<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-password">
											<span class="required">*</span>
											{{ entry_password }}</label>
										<input type="password" name="password" value="" placeholder="{{ entry_password }}" id="input-payment-password" class="form-control"/>
									</div>
									<div class="form-group col-md-6 register-form" style="display: none;">
										<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-confirm">
											<span class="required">*</span>
											{{ entry_confirm }}</label>
										<input type="password" name="confirm" value="" placeholder="{{ entry_confirm }}" id="input-payment-confirm" class="form-control"/>
									</div>
								</div>
								{% if not user_logged %}
								<div class="row mt-3 gx-3 gx-md-4 gy-3 register_block_auth hidden tab_cont" data-tab="2">
									<form method="post" class="cFormAuthCheckout" enctype="multipart/form-data" data-gtm-form-interact-id="2">
										<div class="form-group mb-3">
											<label class="fsz-14 dark-text fw-500 pb-1" for="cinputEmailLogin"><span class="required">* </span>{{ entry_email }}</label>
											<input type="email" class="form-control" id="cinputEmailLogin" aria-describedby="emailHelp" placeholder="{{ entry_email }}" name="email" inputmode="text" data-gtm-form-interact-field-id="4">
										</div>
										<div class="form-group">
											<label class="fsz-14 dark-text fw-500 pb-1" for="cinputPasswordLogin"><span class="required">* </span>{{ entry_password }}</label>
											<input type="password" class="form-control" id="cinputPasswordLogin" placeholder="{{ entry_password }}" name="password" data-gtm-form-interact-field-id="5">
										</div>
										<div class="d-flex justify-content-between my-4 fw-500 fsz-14">
											<a class="blue-link" href="/forgot-password">{{ text_lost_pass }}</a>
											<a class="blue-link" href="/create-account">{{ text_register }}</a>
										</div>
										<button id="c-login-button" type="button" class="sc-btn sc-btn-primary br-2">{{ text_to_login }}</button>
									</form>
									<div class="middle-r hidden-mobile"><span>{{ text_abo }}</span></div>
									<div class="girgt-auth-pannel">
										<span>{{ entry_google_in }}</span>
										<a href="{{ uri_google }}" id="popup-login-google" type="button" class="sc-btn sc-btn-primary br-2 mt-2 login-popup-btn">
											<img src="/catalog/view/theme/oct_showcase/img/Google__G__logo.svg " alt="">
											<span>Google</span>
										</a>
									</div>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="row mb-4 shipp-block order-3 {% if current_shipp_meth == 'pickup.pickup' or current_shipp_meth == 'free.free' %}hidden{% endif %}">
						<div class="col-12">
							<div class="oct-checkout-block">
								<div class="d-flex flex-column flex-md-row align-items-md-center justify-content-md-between">
									<div class="oct-checkout-block-title d-flex align-items-center mb-3 mb-md-0">
										<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M10.9374 10.2883C10.5908 10.0432 10.5078 9.56317 10.7519 9.21649C10.997 8.86981 11.474 8.7857 11.8248 9.03084L12.0719 9.2052L11.6832 7.00308C11.6093 6.5846 11.8883 6.18561 12.3068 6.11176C12.7263 6.03791 13.1242 6.31792 13.197 6.73537L13.5889 8.95597L13.7817 8.68211C14.0269 8.33441 14.5049 8.25133 14.8546 8.49646C15.2013 8.7416 15.2843 9.22162 15.0402 9.5683L13.7817 11.352C13.7787 11.3561 13.7735 11.3581 13.7705 11.3622C13.7069 11.4484 13.6237 11.5171 13.5283 11.5715C13.4924 11.592 13.4556 11.6002 13.4176 11.6145C13.3735 11.632 13.3345 11.6576 13.2863 11.6668C13.2412 11.6751 13.196 11.6792 13.1519 11.6792C13.1489 11.6792 13.1458 11.6771 13.1417 11.6771C13.0617 11.6761 12.9827 11.6617 12.9058 11.635C12.874 11.6248 12.8473 11.6063 12.8175 11.592C12.7816 11.5745 12.7437 11.5622 12.7098 11.5386L10.9374 10.2883ZM6.75271 8.03286C6.52706 6.75589 6.683 5.75687 7.22661 4.9794C7.77124 4.20091 8.65845 3.71372 9.93542 3.48807L13.6628 2.8306C14.9398 2.60495 15.9366 2.76086 16.7162 3.30447C17.4947 3.84911 17.9808 4.73529 18.2065 6.01227L18.8639 9.7396C19.0896 11.0166 18.9337 12.0156 18.389 12.7941C17.8454 13.5715 16.9592 14.0598 15.6812 14.2844L11.954 14.9418C11.5888 15.0065 11.2421 15.0393 10.9159 15.0393C8.9948 15.0393 7.79069 13.9213 7.41016 11.7602L6.75271 8.03286ZM8.26769 7.76617L8.92514 11.4935C9.22361 13.1818 9.99595 13.7244 11.6873 13.4279L15.4147 12.7705C16.269 12.6197 16.83 12.3387 17.1285 11.912C17.4269 11.4853 17.4988 10.8627 17.3491 10.0083L16.6916 6.28099C16.5408 5.4266 16.2598 4.86556 15.8331 4.56709C15.551 4.36913 15.1818 4.27066 14.7161 4.27066C14.4802 4.27066 14.2176 4.29527 13.9283 4.34655L10.2011 5.00402C9.34672 5.1548 8.78565 5.43584 8.48717 5.86252C8.1887 6.28818 8.11691 6.91178 8.26769 7.76617ZM19.9882 15.6557C20.062 16.0742 19.783 16.4732 19.3645 16.547L8.68099 18.4271C8.5015 19.8108 7.32915 20.8867 5.8973 20.8867C4.34135 20.8867 3.07668 19.622 3.07668 18.0661C3.07668 16.7942 3.92796 15.7285 5.08698 15.3778L2.99667 3.48088C2.87462 2.7865 2.20485 2.32392 1.50636 2.4429L0.897108 2.54649C0.486835 2.61521 0.0806513 2.3352 0.010905 1.91673C-0.059867 1.49722 0.221184 1.10028 0.640687 1.02951L1.2458 0.926932C2.76586 0.66128 4.2419 1.68594 4.51166 3.21318L6.64503 15.3572C7.45429 15.5819 8.11793 16.1501 8.4605 16.9029L19.0978 15.03C19.5173 14.9572 19.9153 15.2372 19.9882 15.6557ZM7.17941 18.0661C7.17941 17.3594 6.604 16.784 5.8973 16.784C5.19061 16.784 4.6152 17.3594 4.6152 18.0661C4.6152 18.7728 5.19061 19.3482 5.8973 19.3482C6.604 19.3482 7.17941 18.7728 7.17941 18.0661Z" fill="#00171F"></path>
										</svg>
										<span class="text-uppercase">{{ text_shipping_address }}</span>
									</div>
								</div>
								<div class="row mt-3 gx-3 gx-md-4 gy-3 shipp_address_block">
									{% if oct_fastorder_data.country_and_region == 1 or oct_fastorder_data.country_and_region == 2 %}
										<div class="form-group  col-lg-6" {% if (customer_id and addresses) or not show_country %} style="display:none" {% endif %}>
											<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-country"><span class="required">*</span>{{ entry_country }}</label>
											<select name="country_id" id="input-payment-country" class="form-control rm-select">
												<option value="">{{ text_select }}</option>
												{% for country in countries %}
													{% if country.country_id == country_id %}
														<option value="{{ country.country_id }}" selected="selected">{{ country.name }}
														</option>
													{% else %}
														<option value="{{ country.country_id }}">{{ country.name }}</option>
													{% endif %}
												{% endfor %}
											</select>
										</div>
										<div class="form-group col-lg-6" {% if customer_id and addresses %} style="display:none" {% endif %}>
											<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-zone">
												<span class="required">*</span>
												{{ entry_zone }}</label>
											<select name="zone_id" id="input-payment-zone" class="form-control rm-select"></select>
										</div>
									{% else %}
										<select name="country_id" style="display: none;">
											<option value="{{ oct_fastorder_data.default_country }}" selected="selected"></option>
										</select>
										<select name="zone_id" style="display: none;"></select>
									{% endif %}
									{% if shipping_address_id is defined and shipping_address_id == 0 %}
										{% if oct_fastorder_data.city == 1 or oct_fastorder_data.city == 2 %}
											<div class="form-group col-lg-6" {% if customer_id and addresses %} style="display:none" {% endif %}>
												<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-city">
													{% if oct_fastorder_data.city == 2 %}
														<span class="required">*</span>
													{% endif %}
													{{ entry_city }}</label>
												<input type="text" name="city" value="{% if city is defined and city %}{{ city }}{% elseif oct_fastorder_data.default_city is defined and oct_fastorder_data.default_city %}{{ oct_fastorder_data.default_city }}{% endif %}" placeholder="{{ entry_city }}" id="input-payment-city" class="form-control" inputmode="text">
											</div>
										{% else %}
											<input type="hidden" name="city" value="{{ oct_fastorder_data.default_city }}"/>
										{% endif %}
										{% if oct_fastorder_data.address_1 == 1 or oct_fastorder_data.address_1 == 2 %}
											<div class="form-group col-lg-6" {% if customer_id and addresses %} style="display:none" {% endif %}>
												<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-address-1">
													{% if oct_fastorder_data.address_1 == 2 %}
														<span class="required">*</span>
													{% endif %}
													{{ entry_address_1 }}</label>
												<input type="text" name="address_1" value="{% if address_1 is defined and address_1 %}{{ address_1 }}{% endif %}" placeholder="{{ entry_address_1 }}" id="input-payment-address-1" class="form-control" inputmode="text">
											</div>
										{% else %}
											<input type="hidden" name="address_1" value=""/>
										{% endif %}
										{% if oct_fastorder_data.address_2 == 1 or oct_fastorder_data.address_2 == 2 %}
											<div class="form-group col-lg-6" {% if customer_id and addresses %} style="display:none" {% endif %}>
												<label class="dark-text fsz-14 fw-500 mb-1" for="input-payment-address-2">
													{% if oct_fastorder_data.address_2 == 2 %}
														<span class="required">*</span>
													{% endif %}
													{{ entry_address_2 }}</label>
												<input type="text" name="address_2" value="{% if address_2 is defined and address_2 %}{{ address_2 }}{% endif %}" placeholder="{{ entry_address_2 }}" id="input-payment-address-2" class="form-control" inputmode="text">
											</div>
										{% else %}
											<input type="hidden" name="address_2" value=""/>
										{% endif %}
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					<div class="row mb-4 order-{{ delivery_block_sort }}">
						<div class="col-lg-6">
							<div class="oct-checkout-block h-100 shipping-method">
								<div class="oct-checkout-block-title d-flex align-items-center mb-3">
									<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
										<path d="M19.9457 10.06C19.9457 10.0549 19.9487 10.0508 19.9487 10.0457C19.9487 10.0313 19.9416 10.02 19.9405 10.0057C19.9293 9.93593 19.9139 9.86621 19.8985 9.79647C19.8913 9.77596 19.8893 9.75442 19.8811 9.73494C19.839 9.55648 19.7959 9.37799 19.7282 9.20261L18.6637 6.57303C18.1929 5.38027 17.7058 4.14752 15.0967 4.14752H12.8199V2.35274C12.8199 1.07999 11.784 0.045166 10.5123 0.045166H2.30758C1.03585 0.045166 0 1.07999 0 2.35274V13.6342C0 14.829 0.915805 15.8023 2.07985 15.9192C2.07062 16.0125 2.05118 16.1028 2.05118 16.1982C2.05118 17.753 3.31573 19.0186 4.87155 19.0186C6.42737 19.0186 7.69192 17.753 7.69192 16.1982C7.69192 16.11 7.67344 16.0269 7.66626 15.9418H12.3337C12.3255 16.0269 12.3081 16.11 12.3081 16.1982C12.3081 17.753 13.5726 19.0186 15.1284 19.0186C16.6843 19.0186 17.9488 17.753 17.9488 16.1982C17.9488 16.1028 17.9304 16.0115 17.9202 15.9192C19.0842 15.8023 20 14.829 20 13.6342V10.6395C20 10.4456 19.9744 10.2528 19.9457 10.06ZM15.0977 5.68691C16.6596 5.68691 16.8053 6.05307 17.2361 7.14429L18.0986 9.27647H12.8209V5.68691H15.0977ZM4.87255 17.4812C4.16592 17.4812 3.59057 16.9058 3.59057 16.1992C3.59057 15.4926 4.16592 14.9172 4.87255 14.9172C5.57918 14.9172 6.15454 15.4926 6.15454 16.1992C6.15454 16.9058 5.57918 17.4812 4.87255 17.4812ZM15.1284 17.4812C14.4218 17.4812 13.8465 16.9058 13.8465 16.1992C13.8465 15.4926 14.4218 14.9172 15.1284 14.9172C15.8351 14.9172 16.4104 15.4926 16.4104 16.1992C16.4104 16.9058 15.8351 17.4812 15.1284 17.4812ZM17.6924 14.4044H17.2863C16.7684 13.7829 15.9992 13.3788 15.1284 13.3788C14.2577 13.3788 13.4885 13.7829 12.9706 14.4044H7.0294C6.51147 13.7829 5.74228 13.3788 4.87155 13.3788C4.00083 13.3788 3.23163 13.7829 2.71371 14.4044H2.30758C1.88401 14.4044 1.53838 14.0598 1.53838 13.6352V10.8149H7.94832C8.37291 10.8149 8.71751 10.4703 8.71751 10.0457C8.71751 9.62107 8.37291 9.27647 7.94832 9.27647H1.53838V2.35374C1.53838 1.92915 1.88401 1.58455 2.30758 1.58455H10.5123C10.9359 1.58455 11.2815 1.92915 11.2815 2.35374V10.8149H18.4606V13.6352C18.4616 14.0598 18.116 14.4044 17.6924 14.4044Z" fill="#00171F"></path>
									</svg>
									<span class="text-uppercase ps-3">{{ heading_shipping_block }}</span>
								</div>
								{% if error_warning %}
									<div class="alert alert-warning fsz-14">
										<i class="fa fa-exclamation-circle"></i>
										{{ error_warning }}</div>
								{% endif %}
								{% if shipping_methods %}
									<p class="mb-3">{{ text_shipping_method }}</p>
									<div class="shipping-method-box">
										{% for shipping_method in shipping_methods %}
											{% if not shipping_method.error %}
												{% for quote in shipping_method['quote'] %}
													<div class="form-check d-flex align-items-center mb-2 custom-wrap {% if quote.code == current_shipp_meth %}active{% endif %}">
														<div class="title-shipp">
															{% if quote.code == 'novaposhta.department' %}
																{{ text_shipp_mp }}
															{% endif %}
															{% if quote.code == 'novaposhta.doors' %}
																{{ text_shipp_cour }}
															{% endif %}
															{% if quote.code == 'free.free' %}
																{{ text_shipp_sat }}
															{% endif %}
															{% if quote.code == 'pickup.pickup' %}
																{{ text_shipp_pick }}
															{% endif %}
														</div>
														<label class="form-check-label d-flex align-items-center">
															{% if quote.code == current_shipp_meth %}
																<input type="radio" class="form-check-input" name="shipping_method" value="{{ quote.code }}" title="{{ quote.title }}" checked="checked"/>
															{% else %}
																<input type="radio" class="form-check-input" name="shipping_method" value="{{ quote.code }}" title="{{ quote.title }}"/>
															{% endif %}
															{% if quote.code == 'novaposhta.department' or quote.code == 'novaposhta.poshtomat' %}
																<img src="/catalog/view/theme/oct_showcase/img/novaposhta.svg" alt="{{ quote.title }}" class="me-2" width="20" height="20">
															{% endif %}
															{% if quote.code == 'novaposhta.doors' %}
																<img src="/catalog/view/theme/oct_showcase/img/moped-40x40.png" alt="{{ quote.title }}" class="me-2" width="20" height="20">
															{% endif %}
															{% if quote.code == 'pickup.pickup' %}
																<img src="/catalog/view/theme/oct_showcase/img/delivery-truck.svg" alt="{{ quote.title }}" class="me-2" width="20" height="20">
															{% endif %}
															{% if quote.code == 'text_shipp_sat' %}
																<img src="/catalog/view/theme/oct_showcase/img/Ukrposhta.svg" alt="{{ quote.title }}" class="me-2" width="20" height="20">
															{% endif %}
															<span>{{ quote.title }}</span>
															{% if show_cost_in_delivery_block is defined and show_cost_in_delivery_block %} - {{ quote.text }}{% endif %}
														</label>
													</div>
												{% endfor %}
											{% else %}
												<div class="alert alert-danger fsz-14">{{ shipping_method.error }}</div>
											{% endif %}
										{% endfor %}
									</div>
								{% endif %}
							</div>
						</div>
						<div class="col-lg-6 mt-4 mt-md-0">
							<div class="oct-checkout-block h-100 payment-method">
								<div class="oct-checkout-block-title d-flex align-items-center mb-3">
									<svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17" fill="none">
										<path d="M16.1538 0.583252H3.84615C1.36615 0.583252 0 1.94941 0 4.42941V12.6345C0 15.1145 1.36615 16.4807 3.84615 16.4807H16.1538C18.6338 16.4807 20 15.1145 20 12.6345V4.42941C20 1.94941 18.6338 0.583252 16.1538 0.583252ZM18.4615 12.6345C18.4615 14.252 17.7713 14.9422 16.1538 14.9422H3.84615C2.22872 14.9422 1.53846 14.252 1.53846 12.6345V7.24992H18.4615V12.6345ZM18.4615 5.71146H1.53846V4.42941C1.53846 2.81197 2.22872 2.12171 3.84615 2.12171H16.1538C17.7713 2.12171 18.4615 2.81197 18.4615 4.42941V5.71146ZM4.10256 11.6089C4.10256 11.1843 4.44718 10.8397 4.8718 10.8397H7.94872C8.37333 10.8397 8.71795 11.1843 8.71795 11.6089C8.71795 12.0335 8.37333 12.3781 7.94872 12.3781H4.8718C4.44718 12.3781 4.10256 12.0335 4.10256 11.6089Z" fill="#00171F"></path>
									</svg>
									<span class="text-uppercase ps-3">{{ heading_payment_block }}</span>
								</div>
								{% if error_warning %}
									<div class="alert alert-warning fsz-14">
										<i class="fa fa-exclamation-circle"></i>
										{{ error_warning }}</div>
								{% endif %}
								{% if payment_methods %}
									<p class="mb-3">{{ text_payment_method }}</p>
									{% for payment_method in payment_methods %}
										<div class="form-check d-flex align-items-center mb-0 ps-3 mb-2 custom-wrap {% if payment_method.code == current_pay_meth%}active{% endif %}">
											<label class="form-check-label d-flex align-items-center">
												{% if payment_method.code == current_pay_meth%}
													<input type="radio" class="form-check-input" name="payment_method" value="{{ payment_method.code }}" title="{{ payment_method.title }}" checked="checked"/>
												{% else %}
													<input type="radio" class="form-check-input" name="payment_method" value="{{ payment_method.code }}" title="{{ payment_method.title }}"/>
												{% endif %}
												{% if payment_method.code == 'bank_transfer' %}
													<img src="/catalog/view/theme/oct_showcase/img/payments-icon-bank.svg" alt="{{ payment_method.title }}" class="me-2" width="20" height="20">
												{% endif %}
												{% if payment_method.code == 'liqpay' %}
													<img src="/catalog/view/theme/oct_showcase/img/liqpay-40x40.png" alt="{{ payment_method.title }}" class="me-2" width="20" height="20">
												{% endif %}
												{% if payment_method.code == 'cod' %}
													<img src="/catalog/view/theme/oct_showcase/img/cash-svgrepo-com.svg" alt="{{ payment_method.title }}" class="me-2" width="20" height="20">
												{% endif %}
												<span>{{ payment_method.title }}</span>
											</label>
										</div>
									{% endfor %}
								{% endif %}
							</div>
						</div>
					</div>
					{% if oct_fastorder_data.cart_view_is and oct_fastorder_data.cart_view_is == 1 %}
						{% if attention %}
							<div class="alert alert-info">
								<i class="fa fa-info-circle"></i>
								{{ attention }}
								<button type="button" class="close" data-dismiss="alert">&times;</button>
							</div>
						{% endif %}
						{% if error_warning %}
							<div class="alert alert-danger d-flex align-items-center fsz-14 mt-4">
								<i class="fa fa-exclamation-circle me-2"></i>
								{{ error_warning }}
								<button type="button" class="close sc-btn sc-btn-transparent no-btn ms-auto red fsz-16" data-bs-dismiss="alert">&times;</button>
							</div>
						{% endif %}
						<div id="cart-table" class="order-{{ cart_block_sort }}">
							{% for product in products %}
								<div class="row mb-4">
									<div class="col-lg-12">
										<div class="oct-checkout-block oct-checkout-cart d-flex flex-column flex-md-row justify-content-between p-3">
											<div class="oct-checkout-cart-product-info d-flex align-items-md-center">
												{% if product.thumb %}
													<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" width="60" height="60"/></a>
												{% endif %}
												<div class="ps-3">
													<a href="{{ product.href }}" class="blue-link d-block mb-2">{{ product.name }}</a>
													{% if not product.stock %}
														<span class="required">***</span>
													{% endif %}

													{% if product.option %}
														{% for option in product['option'] %}
															<div class="oct-checkout-cart-product-option">
																{{ option.name }}:
																<span class="light-text">{{ option.value }}</span>
																{% if oct_advanced_options_settings_data.status and oct_advanced_options_settings_data.status and oct_advanced_options_settings_data.quantity_status and option.oct_quantity_value and option.oct_quantity_value %}
																	x{{ option.oct_quantity_value }}
																{% endif %}
																{% if oct_advanced_options_settings_data.status and oct_advanced_options_settings_data.status and oct_advanced_options_settings_data.allow_sku and option.sku or oct_advanced_options_settings_data.status and oct_advanced_options_settings_data.status and oct_advanced_options_settings_data.allow_model and option.model %}(
																	{% if oct_advanced_options_settings_data.allow_sku and option.sku %}
																		{{ text_option_sku }}:
																		{{ option.sku }},
																	{% endif %}
																	{% if oct_advanced_options_settings_data.allow_model and option.model %}
																		{{ text_option_model }}:
																		{{ option.model }}
																	{% endif %})
																{% endif %}
															</small>
														</div>
													{% endfor %}
												{% endif %}
												{% if product.reward %}
													<br/>
													<small>{{ product.reward }}</small>
												{% endif %}
												{% if product.recurring %}
													<br/>
													<small>{{ text_recurring_item }}{{ product.recurring }}</small>
												{% endif %}
											</div>
										</div>
										<div class="oct-checkout-cart-actions">
											<div class="oct-checkout-cart-buttons d-flex align-items-stretch justify-content-end">
												<div class="oct-checkout-cart-quantity d-flex align-items-center justify-content-center">
													<input name="product_id_q" value="{{ product.product_id }}" style="display: none;" type="hidden"/>
													<input name="product_id" value="{{ product.key }}" style="display: none;" type="hidden"/>
													<input id="quantity-{{ product.quantity }}" type="text" name="quantity" value="{{ product.quantity }}" class="form-control" onchange="update_manual(this, '{{ product.key }}');" aria-label="Quantity" inputmode="numeric">
												</div>
												<button type="button" aria-label="Delete" class="sc-btn sc-btn-danger sc-btn-with-icon br-4 oct-checkout-cart-delete-btn" onclick="update(this, 'remove');">
													<span class="sc-btn-icon sc-btn-icon-del"></span>
												</button>
											</div>
											<div class="oct-checkout-cart-total">{{ column_total }}
												{{ product.total }}</div>
											<div class="oct-checkout-cart-price">{{ column_price }}
												{{ product.price }}</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
		<div class="col-lg-4">
			<div class="oct-checkout-column mt-4 mt-md-0">
				<div class="oct-checkout-block oct-checkout-actions">
					<div class="oct-checkout-actions-title">{{ text_next }}</div>
					<div class="oct-checkout-actions-total">
						{% for total in totals %}
							<div class="oct-checkout-actions-total-item d-flex justify-content-between">
								<span class="light-text">{{ total.title }}</span>
								<span>{{ total.text }}</span>
							</div>
						{% endfor %}
						{% if weight %}
							<div class="oct-checkout-actions-total-item d-flex justify-content-between">
								<span class="light-text">{{ text_weight }}</span>
								<span>{{ weight }}</span>
							</div>
						{% endif %}
					</div>
					{% if text_agree %}
						<div id="agree-block" class="form-check d-flex hidden">
							{% if agree %}
								<input id="checkoutCheckbox" class="form-check-input" type="checkbox" name="agree" value="1" checked="checked"/>
							{% else %}
								<input id="checkoutCheckbox" class="form-check-input" type="checkbox" name="agree" value="1" checked="checked"/>
							{% endif %}
							<label class="form-check-label" for="checkoutCheckbox">{{ text_agree }}</label>
						</div>
					{% endif %}
					{% if text_payment_agree %}
						<div id="payment_agree-block" class="form-check mt-3 d-flex">
							{% if payment_agree %}
								<input id="checkoutCheckboxPAyment" class="form-check-input" type="checkbox" name="payment_agree" value="1" checked="checked"/>
							{% else %}
								<input id="checkoutCheckboxPAyment" class="form-check-input" type="checkbox" name="payment_agree" value="1"/>
							{% endif %}
							<label class="form-check-label" for="checkoutCheckboxPAyment">{{ text_payment_agree }}</label>
						</div>
					{% endif %}
					<div class="oct-fastorder-payment">
						{% if payment and payment %}
							<p>{{ payment }}</p>
						{% else %}
							<button type="button" class="sc-btn sc-btn-primary br-4 mt-3 w-100" id="button-go">
								<span class="sc-btn-text">{{ button_checkout }}</span>
							</button>
						{% endif %}
					</div>
					<div class="wrapper-links">
						<p>{{ text_agree_aprove }}</p>
						<p><a href="{{ ugoda_link }}" class="agree">{{ text_agree_ugoda2 }}</a></p>
						<p><a href="{{ privacy_link }}" class="agree">{{ text_agree_privacy }}</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ content_bottom }}
</main></div>


{% if mask %}
<script>
	scInputMask('#input-payment-telephone', '{{ mask }}');
</script>
{% endif %}
<script>
	<!--
	var error = true;
	$(".oct-checkout .form-control, .oct-checkout .form-check-input").on("change paste keyup", function () {
		$(this).removeClass('error_style');
	});

	// Register
	document.getElementById('button-go').addEventListener('click', function () {
		var data = $(
			'.oct-checkout input[type=\'text\'], .oct-checkout input[type=\'tel\'], .oct-checkout input[type=\'date\'], .oct-checkout input[type=\'datetime-local\'], .oct-checkout input[type=\'time\'], .oct-checkout input[type=\'password\'], .oct-checkout input[type=\'hidden\'], .oct-checkout input[type=\'checkbox\']:checked, .oct-checkout input[type=\'radio\']:checked, .oct-checkout textarea, .oct-checkout select'
			).serialize();
		data += '&_shipping_method=' + $('.oct-checkout input[name=\'shipping_method\']:checked').prop('title') +
			'&_payment_method=' + $('.oct-checkout input[name=\'payment_method\']:checked').prop('title');

		$.ajax({
			url: 'index.php?route=checkout/oct_fastorder/validate_form',
			type: 'post',
			data: data,
			dataType: 'json',
			beforeSend: function () {
				$('#button-go').button('loading');
				masked('body', true);
			},
			complete: function () {
				$('#button-go').button('reset');
				masked('body', false);
			},
			success: function (json) {
				$('.alert, .text-danger').remove();
				$('.register_block input, .register_block select').parent().removeClass('error_style');
				masked('body', false);

				if (json['redirect']) {
					location = json['redirect'];
				} else if (json['error']) {

					if ((!json['error']['agree']) && (!json['error']['warning_agree'])) {
						scrollToElement('.oct-checkout-block');
					}

					error = true;

					if (json['error']['warning_agree']) {
						scNotify('warning', json['error']['warning_agree']);
						$('#checkoutCheckbox').addClass('error_style');
					}

					if (json['error']['agree']) {
						scNotify('warning', json['error']['agree']);
						$('#checkoutCheckbox').addClass('error_style');
					}

					if (json['error']['warning_user_exist']) {
						scrollToElement('.oct-checkout-block');
						scNotify('warning', json['error']['warning_user_exist']);
						$('#input-payment-email').addClass('error_style');
					}

					if (json['error']['warning_payment_agree']) {
						scNotify('warning', json['error']['warning_payment_agree']);
						$('#checkoutCheckbox').addClass('error_style');
					}

					for (i in json['error']) {
						// $('[name="' + i + '"]').after('<div class="text-danger">' + json['error'][i] + '</div>');
						$('.oct-checkout .form-control[name="' + i + '"]').addClass('error_style');
					}

					if (json['error']['custom_field']) {
						for (i in json['error']['custom_field']) {
							// $('[name="' + i + '"]').after('<div class="text-danger">' + json['error'][i] + '</div>');
							$('.oct-checkout .form-control#input-payment-custom-field' + i +
								', .oct-checkout .form-control#input-custom-field' + i +
								', .oct-checkout #input-payment-custom-field' + i + ' label').addClass(
								'error_style');
						}
					}
				} else {
					error = false;
					$('[name=\'payment_method\']:checked').click();

				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				// alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('select[name=\'country_id\']').on('change', function () {
		$.ajax({
			url: 'index.php?route=checkout/oct_fastorder/country&country_id=' + this.value,
			dataType: 'json',
			beforeSend: function () {
				$('select[name=\'country_id\']').after(' <i class="fa fa-spinner fa-spin"></i>');
			},
			complete: function () {
				$('.fa-spinner').remove();
			},
			success: function (json) {

				{% if oct_fastorder_data.postcode == 1 %}
				if (json['postcode_required'] == '1') {
					$('input[name=\'postcode\']').parent().addClass('required');
				} else {
					$('input[name=\'postcode\']').parent().removeClass('required');
				} 
				{% endif %}

				html = '<option value="">{{ text_select }}</option>';

				if (json['zone'] && json['zone'] != '') {
					for (i = 0; i < json['zone'].length; i++) {
						html += '<option value="' + json['zone'][i]['zone_id'] + '"';

						if (json['zone'][i]['zone_id'] ==
							'{{ oct_fastorder_data.country_and_region == 1 ? zone_id : oct_fastorder_data.default_region }}'
							) {
							html += ' selected="selected"';
						}

						html += '>' + json['zone'][i]['name'] + '</option>';
					}
				} else {
					html += '<option value="0" selected="selected">{{ text_none }}</option>';
				}

				{% if oct_fastorder_data.country_and_region == 1 or oct_fastorder_data.country_and_region == 2 %}
				$('select[name=\'zone_id\']').html(html).val(''); 
				{% else %}
				$('select[name=\'zone_id\']').html(html);
				$('select[name=\'zone_id\']').trigger('change'); 
				{% endif %}
				//$('select[name=\'shipping_country_id\']').val('');
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('select[name=\'country_id\']').trigger('change');

	$('select[name=\'shipping_country_id\']').on('change', function () {
		$.ajax({
			url: 'index.php?route=checkout/oct_fastorder/country&country_id=' + this.value,
			dataType: 'json',
			beforeSend: function () {
				$('select[name=\'country_id\']').after(' <i class="fa fa-spinner fa-spin"></i>');
			},
			complete: function () {
				$('.fa-spinner').remove();
			},
			success: function (json) {

				{% if oct_fastorder_data.postcode == 1 %}
				if (json['postcode_required'] == '1') {
					$('input[name=\'postcode\']').parent().addClass('required');
				} else {
					$('input[name=\'postcode\']').parent().removeClass('required');
				} 
				{% endif %}

				html = '<option value="">{{ text_select }}</option>';

				if (json['zone'] && json['zone'] != '') {
					for (i = 0; i < json['zone'].length; i++) {
						html += '<option value="' + json['zone'][i]['zone_id'] + '"';

						if (json['zone'][i]['zone_id'] ==
							'{{ oct_fastorder_data.country_and_region == 1 ? zone_id : oct_fastorder_data.default_region }}'
							) {
							html += ' selected="selected"';
						}

						html += '>' + json['zone'][i]['name'] + '</option>';
					}
				} else {
					html += '<option value="0" selected="selected">{{ text_none }}</option>';
				}

				{% if oct_fastorder_data.country_and_region == 1 or oct_fastorder_data.country_and_region == 2 %}
				$('select[name=\'shipping_zone_id\']').html(html).val(''); 
				{% else %}
				$('select[name=\'shipping_zone_id\']').html(html); 
				{% endif %}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('select[name=\'shipping_country_id\']').trigger('change');

	$('select[name=\'country_id\'], select[name=\'zone_id\'], select[name=\'shipping_country_id\'], select[name=\'shipping_zone_id\'], input[type=\'radio\'][name=\'payment_address\'], input[type=\'radio\'][name=\'shipping_address\']').on('change', function () {

			if ($(this).attr("name") == 'country_id') {
				$("select[name=\'zone_id\']").val('');
			}

			if ($(this).attr("name") == 'shipping_country_id') {
				$("select[name=\'shipping_zone_id\']").val('');
			}
			{% if refresh_after_addnew_address %}
			$(".shipping-method").load('index.php?route=checkout/oct_fastorder/shipping_method', $('.oct-checkout input[type=\'text\'], .oct-checkout input[type=\'date\'], .oct-checkout input[type=\'datetime-local\'], .oct-checkout input[type=\'time\'], .oct-checkout input[type=\'password\'], .oct-checkout input[type=\'hidden\'], .oct-checkout input[type=\'checkbox\']:checked, .oct-checkout input[type=\'radio\']:checked, input[name=\'shipping_method\']:first, .oct-checkout textarea, .oct-checkout select'), function () {
				if ($("input[name=\'shipping_method\']:first").length) {
					$("input[name=\'shipping_method\']:first").attr('checked', 'checked').prop('checked', true).click();
				} else {
					$("#cart-table").load('index.php?route=checkout/oct_fastorder/cart', $('.oct-checkout input[type=\'text\'], .oct-checkout input[type=\'date\'], .oct-checkout input[type=\'datetime-local\'], .oct-checkout input[type=\'time\'], .oct-checkout input[type=\'password\'], .oct-checkout input[type=\'hidden\'], .oct-checkout input[type=\'checkbox\']:checked, .oct-checkout input[type=\'radio\']:checked, .oct-checkout textarea, .oct-checkout select'));
				}
			});

			$(".payment-method").load('index.php?route=checkout/oct_fastorder/payment_method', $('.oct-checkout input[type=\'text\'], .oct-checkout input[type=\'date\'], .oct-checkout input[type=\'datetime-local\'], .oct-checkout input[type=\'time\'], .oct-checkout input[type=\'password\'], .oct-checkout input[type=\'hidden\'], .oct-checkout input[type=\'checkbox\']:checked, .oct-checkout input[type=\'radio\']:checked, input[name=\'shipping_method\']:first, .oct-checkout textarea, .oct-checkout select'), function () {
				$('input[name=\'payment_method\']:first').attr('checked', 'checked').prop('checked', true).click();
			});
			{% endif %}
		});

	{% if customer_id %}
	$(function () {
		$('select[name=\'shipping_address_id\']').trigger('change');
	});

		
		$('select[name=\'shipping_address_id\']').on('change', function () {
			$(".shipping-method").load('index.php?route=checkout/oct_fastorder/shipping_method', $('.oct-checkout input[type=\'text\'], .oct-checkout input[type=\'date\'], .oct-checkout input[type=\'datetime-local\'], .oct-checkout input[type=\'time\'], .oct-checkout input[type=\'password\'], .oct-checkout input[type=\'hidden\'], .oct-checkout input[type=\'checkbox\']:checked, .oct-checkout input[type=\'radio\']:checked, input[name=\'shipping_method\']:first, .oct-checkout textarea, .oct-checkout select'), function () {
				if ($("input[name=\'shipping_method\']:first").length) {
					$("input[name=\'shipping_method\']:first").attr('checked', 'checked').prop('checked', true).click();
				} else {
					$("#cart-table").load('index.php?route=checkout/oct_fastorder/cart', $('.oct-checkout input[type=\'text\'], .oct-checkout input[type=\'date\'], .oct-checkout input[type=\'datetime-local\'], .oct-checkout input[type=\'time\'], .oct-checkout input[type=\'password\'], .oct-checkout input[type=\'hidden\'], .oct-checkout input[type=\'checkbox\']:checked, .oct-checkout input[type=\'radio\']:checked, .oct-checkout textarea, .oct-checkout select'));
				}
			});
		}); 
	{% endif %}

	{% if refresh_after_citychange %}
	$('input[name=\'city\'], input[name=\'shipping_city\']').on('change', function () {
		$(".shipping-method").load('index.php?route=checkout/oct_fastorder/shipping_method', $('.oct-checkout input[type=\'text\'], .oct-checkout input[type=\'date\'], .oct-checkout input[type=\'datetime-local\'], .oct-checkout input[type=\'time\'], .oct-checkout input[type=\'password\'], .oct-checkout input[type=\'hidden\'], .oct-checkout input[type=\'checkbox\']:checked, .oct-checkout input[type=\'radio\']:checked, input[name=\'shipping_method\']:first, .oct-checkout textarea, .oct-checkout select'), function () {
			if ($("input[name=\'shipping_method\']:first").length) {
				$("input[name=\'shipping_method\']:first").attr('checked', 'checked').prop('checked', true).click();
			} else {
				$("#cart-table").load('index.php?route=checkout/oct_fastorder/cart', $('.oct-checkout input[type=\'text\'], .oct-checkout input[type=\'date\'], .oct-checkout input[type=\'datetime-local\'], .oct-checkout input[type=\'time\'], .oct-checkout input[type=\'password\'], .oct-checkout input[type=\'hidden\'], .oct-checkout input[type=\'checkbox\']:checked, .oct-checkout input[type=\'radio\']:checked, .oct-checkout textarea, .oct-checkout select'));
			}
		});
	});
	{% endif %}

	$(document).delegate('input[name=\'shipping_method\']', 'click', function () {
		$('[data-bs-dismiss="alert"]').click();
		$("#cart-table").load('index.php?route=checkout/oct_fastorder/cart', $('.oct-checkout input[type=\'text\'], .oct-checkout input[type=\'date\'], .oct-checkout input[type=\'datetime-local\'], .oct-checkout input[type=\'time\'], .oct-checkout input[type=\'password\'], .oct-checkout input[type=\'hidden\'], .oct-checkout input[type=\'checkbox\']:checked, .oct-checkout input[type=\'radio\']:checked, .oct-checkout textarea, .oct-checkout select'));
	});

	$('body').delegate('input[name=\'payment_method\']', 'click', function () {
		var data = $('.oct-checkout input[type=\'text\'], .oct-checkout input[type=\'tel\'], .oct-checkout input[type=\'date\'], .oct-checkout input[type=\'datetime-local\'], .oct-checkout input[type=\'time\'], .oct-checkout input[type=\'password\'], .oct-checkout input[type=\'hidden\'], .oct-checkout input[type=\'checkbox\']:checked, .oct-checkout input[type=\'radio\']:checked, .oct-checkout textarea, .oct-checkout select').serialize();
		data += '&_shipping_method=' + $('.oct-checkout input[name=\'shipping_method\']:checked').prop('title') + '&_payment_method=' + $('.oct-checkout input[name=\'payment_method\']:checked').prop('title');

		if (!error) {
			$.ajax({
				url: 'index.php?route=checkout/oct_fastorder/confirm',
				type: 'post',
				data: data,
				success: function (html) {
					$(".oct-fastorder-payment").html(html).addClass('d-none');
					if ($(".oct-fastorder-payment input[type=button]").length > 0) {
						$(".oct-fastorder-payment input[type=button]").click();
					}
					if ($(".oct-fastorder-payment input[type=submit]").length > 0) {
						$(".oct-fastorder-payment input[type=submit]").click();
					}
				},
				error: function (xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	});
	$(document).ready(function () {
		$('input:radio[name=\'payment_method\']:first').attr('checked', true).prop('checked', true);
	});
	//
	-->
</script>
<script><!--
function update(target, status) {
	let input_val  = $(target).parent().parent().children('input[name=quantity]').val(),
		quantity   = parseInt(input_val),
		product_id  = $(target).parent().parent().parent().children('input[name=product_id]').val(),
		product_id_q = $(target).parent().parent().parent().children('input[name=product_id_q]').val(),
		product_key = $(target).parent().parent().find('input[name=product_id]').val(),
		urls     = null;

	if (quantity <= 0) {
		quantity = $(target).parent().parent().children('input[name=quantity]').val(1);
		return;
	}

	if (status == 'update') {
		urls = 'index.php?route=checkout/oct_fastorder/cart&update=' + product_id + '&quantity=' + quantity;
	} else if (status == 'add') {
		urls = 'index.php?route=checkout/oct_fastorder/cart&add=' + target + '&quantity=1';
	} else {
		urls = 'index.php?route=checkout/oct_fastorder/cart&remove=' + product_key;
	}

	$.ajax({
		url: urls,
		type: 'get',
		dataType: 'html',
		beforeSend: function() {
			masked('body', true);
		},
		success: function(data) {
		$.ajax({
			url: 'index.php?route=checkout/oct_fastorder/status_cart',
			type: 'get',
			dataType: 'json',
			success: function(json) {
				if (json['total']) {
					setTimeout(function () {
						$('#cart .header-buttons-cart-quantity').html(json['total']);
						// $('.rm-cart-text').html(json['total_amount']);
					}, 100);
				}
				if (!json['redirect']) {
					masked('body', false);
					$(".shipping-method").load('index.php?route=checkout/oct_fastorder/shipping_method', $('.oct-checkout input[type=\'text\'], .oct-checkout input[type=\'date\'], .oct-checkout input[type=\'datetime-local\'], .oct-checkout input[type=\'time\'], .oct-checkout input[type=\'password\'], .oct-checkout input[type=\'hidden\'], .oct-checkout input[type=\'checkbox\']:checked, .oct-checkout input[type=\'radio\']:checked, input[name=\'shipping_method\']:first, .oct-checkout textarea, .oct-checkout select'), function() {
						if ($("input[name=\'shipping_method\']:first").length) {
							$("input[name=\'shipping_method\']:first").attr('checked', 'checked').prop('checked', true).click();
						} else {
							$("#cart-table").load('index.php?route=checkout/oct_fastorder/cart', $('.oct-checkout input[type=\'text\'], .oct-checkout input[type=\'date\'], .oct-checkout input[type=\'datetime-local\'], .oct-checkout input[type=\'time\'], .oct-checkout input[type=\'password\'], .oct-checkout input[type=\'hidden\'], .oct-checkout input[type=\'checkbox\']:checked, .oct-checkout input[type=\'radio\']:checked, .oct-checkout textarea, .oct-checkout select'));
						}
					});

				} else {
					location = json['redirect'];
				}
			}
		});
		}
	});
}
function update_manual(target, product_id) {
	let input_val = $(target).val(),
		quantity = parseInt(input_val);

	if (quantity <= 0 || isNaN(quantity)) {
		quantity = $(target).val(1);
		return;
	}

	$.ajax({
		url: 'index.php?route=checkout/oct_fastorder/cart&update=' + product_id + '&quantity=' + quantity,
		type: 'get',
		dataType: 'html',
		beforeSend: function() {
			$('[data-bs-dismiss="alert"]').click();
			masked('body', true);
		},
		success: function(data) {
			$.ajax({
				url: 'index.php?route=checkout/oct_fastorder/status_cart',
				type: 'get',
				dataType: 'json',
				success: function(json) {
				if (json['total']) {
					setTimeout(function () {
						$('#cart .header-buttons-cart-quantity').html(json['total']);
						// $('.rm-cart-text').html(json['total_amount']);
					}, 100);
				}
				if (!json['redirect']) {
					masked('body', false);
					$(".shipping-method").load('index.php?route=checkout/oct_fastorder/shipping_method', $('.oct-checkout input[type=\'text\'], .oct-checkout input[type=\'date\'], .oct-checkout input[type=\'datetime-local\'], .oct-checkout input[type=\'time\'], .oct-checkout input[type=\'password\'], .oct-checkout input[type=\'hidden\'], .oct-checkout input[type=\'checkbox\']:checked, .oct-checkout input[type=\'radio\']:checked, input[name=\'shipping_method\']:first, .oct-checkout textarea, .oct-checkout select'), function() {
						if ($("input[name=\'shipping_method\']:first").length) {
							$("input[name=\'shipping_method\']:first").attr('checked', 'checked').prop('checked', true).click();
						} else {
							$("#cart-table").load('index.php?route=checkout/oct_fastorder/cart', $('.oct-checkout input[type=\'text\'], .oct-checkout input[type=\'date\'], .oct-checkout input[type=\'datetime-local\'], .oct-checkout input[type=\'time\'], .oct-checkout input[type=\'password\'], .oct-checkout input[type=\'hidden\'], .oct-checkout input[type=\'checkbox\']:checked, .oct-checkout input[type=\'radio\']:checked, .oct-checkout textarea, .oct-checkout select'));
						}
					});
					$(".payment-method").load('index.php?route=checkout/oct_fastorder/payment_method', $('.oct-checkout input[type=\'text\'], .oct-checkout input[type=\'date\'], .oct-checkout input[type=\'datetime-local\'], .oct-checkout input[type=\'time\'], .oct-checkout input[type=\'password\'], .oct-checkout input[type=\'hidden\'], .oct-checkout input[type=\'checkbox\']:checked, .oct-checkout input[type=\'radio\']:checked, input[name=\'shipping_method\']:first, .oct-checkout textarea, .oct-checkout select'), function() {
						$('input[name=\'payment_method\']:first').attr('checked', 'checked').prop('checked', true).click();
					});

				} else {
					location = json['redirect'];
				}
				}
			});
		}
	});
}

function voucher_remove(voucher_key) {
 $.ajax({
	url: 'index.php?route=checkout/oct_fastorder/cart&remove=' + voucher_key,
	type: 'get',
	dataType: 'html',
	success: function(data) {
	 $.ajax({
		url: 'index.php?route=checkout/oct_fastorder/status_cart',
		type: 'get',
		dataType: 'json',
		success: function(json) {
			if (json['total']) {
				setTimeout(function () {
					$('#cart .header-buttons-cart-quantity').html(json['total']);
					// $('.rm-cart-text').html(json['total_amount']);
				}, 100);
			}
			if (!json['redirect']) {
				$(".shipping-method").load('index.php?route=checkout/oct_fastorder/shipping_method', $('.oct-checkout input[type=\'text\'], .oct-checkout input[type=\'date\'], .oct-checkout input[type=\'datetime-local\'], .oct-checkout input[type=\'time\'], .oct-checkout input[type=\'password\'], .oct-checkout input[type=\'hidden\'], .oct-checkout input[type=\'checkbox\']:checked, .oct-checkout input[type=\'radio\']:checked, input[name=\'shipping_method\']:first, .oct-checkout textarea, .oct-checkout select'), function() {
					if ($("input[name=\'shipping_method\']:first").length) {
						$("input[name=\'shipping_method\']:first").attr('checked', 'checked').prop('checked', true).click();
					} else {
						$("#cart-table").load('index.php?route=checkout/oct_fastorder/cart', $('.oct-checkout input[type=\'text\'], .oct-checkout input[type=\'date\'], .oct-checkout input[type=\'datetime-local\'], .oct-checkout input[type=\'time\'], .oct-checkout input[type=\'password\'], .oct-checkout input[type=\'hidden\'], .oct-checkout input[type=\'checkbox\']:checked, .oct-checkout input[type=\'radio\']:checked, .oct-checkout textarea, .oct-checkout select'));
					}
				});

			} else {
				location = json['redirect'];
			}
		}
	 });
	}
 });
}
</script>
{{ footer }}