{{ header }}
<style>
	.has-error {
		border-color: #ff0000;
	}
	
	.panel-body {
		position: relative;
	}
	
	.panel-body.with-loader::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, .5);
		z-index: 3;
	}
	
	.loader {
		z-index: 9;
		position: fixed;
		display: none;
		left: 45%;
		top: 45%;
		
		width: 280px;
		text-align: center;
	}
	
	.loader-dialog {
		color: #ff0000;
	}
	
	.loader-stopwatch {
		margin-bottom: 15px;
	}
	
	.loader-icon {
		display: inline-block;
		width: 64px;
		height: 64px;
		
    border: 5px solid #8c8d9a; /* bg */
    border-top: 5px solid #fcb92b; /* primary */
    border-radius: 50%;
    
    animation: spin 1s linear infinite;
	}

	@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
	}
	
</style>
{{ column_left }} 
<div id="content" class="handy-product-manager">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ text_part_massedit }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    
    <div class="module-navigation">
      <a class="btn btn-sm btn-default navbar-btn" href="{{ link_part_settings }}">{{ text_part_settings }}</a>
      {% if (valid_licence) %} 
      <a class="btn btn-sm btn-default navbar-btn" href="{{ link_part_productlist }}">{{ text_part_productlist }}</a>
      <a class="btn btn-sm btn-warning navbar-btn active" href="{{ link_part_massedit }}">{{ text_part_massedit }}</a>
      {% endif %} 
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-cubes"></i> {{ text_part_massedit }}</h3>
      </div>
      <div class="panel-body">
				{% if (not valid_licence) %} 
				<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ text_input_licence_mass }} 
				</div>
				{% else %} 
				<form action="" method="post" enctype="multipart/form-data" id="form-mass-edit">
          
        <script>
				// Config
				var debug = '{{ debug }}';
				</script>

        {{ include_filter }}

        <h3 class=""><i class="fa fa-pencil"></i> {{ text_part_massedit_data }}</h3>
        
				<!-- Mass Edit Editor . Begin -->
				<div class="row ">
					<div class="col-sm-12">
						<table id="products-list" class="products-list le table table-bordered table-hover" >
							  <thead>
									<tr>
										<td class="text-left" style="width: 200px">{{ handy_column_identity }}</td>
										<td class="text-left" style="width: 500px">{{ handy_column_description }}</td>
										<td class="text-left">{{ handy_column_attribute }}</td>
										<td class="text-left">{{ handy_column_option }}</td>
									</tr>
								</thead>
								<!-- table body -->
								<tbody>
									<tr>
										<!-- Identity -->
										<td id="identity" class="identity text-left">
											<!-- Category -->
											<div class="category">
												{% if (has_main_category_column and getProductMainCategoryIdExist) %}
												<div class="le-row">
													<label class="le-label" for="input-main-category">{{ handy_entry_main_category }}</label>
													<select name="main_category_id" class="le-value le-selector" id="input-main-category">
														<option value="0">{{ text_none }}</option>
														{% for category in all_categories %} 
														<option value="{{ category['category_id'] }}">{{ category['name'] }}</option>
														{% endfor %} 
													</select>
												</div>
												<br />
												{% endif %} 

												<label class="control-label" for="input-category">{{ handy_entry_category }}</label>
												<div id="categories-selector-container" class="categories-selector-container well well-sm" style="padding-top: 15px;">                          
													{% if ('tree_view' == categories_mode) %}
													<div class="categories-selector">
														{{ category_tree }} 
													</div>
                          {% else %}
                            <input type="text" name="category" value="" placeholder="{{ entry_category }}" id="input-category-autocomplete" class="form-control input-sm"/>
                            <div id="category-autocomplete" class="well well-sm" style="height: 150px; overflow: auto;"></div>
                          {% endif %}
													<!-- Category Flag -->
													<div class="form-group">
                            <label class="control-label" for="input-category-flag">{{ entry_category_flag }}</label>
                            <select name="category_flag" id="input-category-flag" class="le-value le-selector">
                              <!-- <option value="*">{{ entry_flag }}</option> -->
                              <option value="add">{{ text_flag_add }}</option>
                              <option value="delete_all_and_add_new">{{ text_flag_delete_all_and_add_new }}</option>
                              <option value="delete">{{ text_flag_delete }}</option>
                            </select>
                          </div>
                        </div>
                      </div>
											<div id="identity-content" class="identity-content" >
												<div class="le-row">
													<label class="le-label" for="manufacturer">{{ entry_manufacturer }}</label>
													<select name="manufacturer_id" class="le-value le-selector" id="manufacturer">
														<option value="">{{ text_none }}</option>
														{% for manufacturer in manufacturers %} 
														<option value="{{ manufacturer['manufacturer_id'] }}">{{ manufacturer['name'] }}</option>
														{% endfor %} 
													</select>
												</div>
                          
                        <!-- Model -->
												<div class="le-row">
													<span class="le-label">{{ entry_model }}</span>
													<input type="text" name="model" id="model" class="le-value" />
												</div>
                        
                        <!-- SKU -->
												{% if ('sku' in a_product_list_field) %}
												<div class="le-row">
													<span class="le-label">{{ entry_sku }}</span>
													<input type="text" name="sku" id="sku" class="le-value" />
												</div>
												{% endif %}
                        
                        <!-- UPC -->
												{% if ('upc' in a_product_list_field) %}
												<div class="le-row">
													<span class="le-label">{{ entry_upc }}</span>
													<input type="text" name="upc" id="upc" class="le-value" />
												</div>
												{% endif %}
                        
                        <!-- EAN -->
												{% if ('ean' in a_product_list_field) %}
												<div class="le-row">
													<span class="le-label">{{ entry_ean }}</span>
													<input type="text" name="ean" id="ean" class="le-value" />
												</div>
												{% endif %}
                        
                        <!-- JAN -->
												{% if ('jan' in a_product_list_field) %}
												<div class="le-row">
													<span class="le-label">{{ entry_jan }}</span>
													<input type="text" name="jan" id="jan" class="le-value" />
												</div>
												{% endif %}
                        
                        <!-- ISBN -->
												{% if ('isbn' in a_product_list_field) %}
												<div class="le-row">
													<span class="le-label">{{ entry_isbn }}</span>
													<input type="text" name="isbn" id="isbn" class="le-value" />
												</div>
												{% endif %}
                        
                        <!-- MPN -->
												{% if ('mpn' in a_product_list_field) %}
												<div class="le-row">
													<span class="le-label">{{ entry_mpn }}</span>
													<input type="text" name="mpn" id="mpn" class="le-value" />
												</div>
												{% endif %}

												<!-- Price Block . Begin -->
												<div class="box-custom box-custom__price">
                          <!-- Round -->
                          <div class="le-row round-formula-container">
                            <span class="le-label">{{ handy_entry_round }}</span>
                            <select class="round-formula-selector le-value le-selector" name="round_flag">
                              <option value="none">none</option>
                              <option value="integer">1 (integer)</option>
                              <option value="fives">5 (fives)</option>
                              <option value="nines">9 (nines)</option>
                              <option value="dozens" selected="selected">10 (dozens)</option>
                              <option value="fifties">50 (fifties)</option>
                              <option value="hundreds">100 (hundreds)</option>
                              <option value="hundreds-with-nines">199 (hundreds-with-nines)</option>
                             </select>
                          </div>
                            
                          <!-- Price -->
													<div class="le-row">
														<span class="le-label">{{ entry_price }}</span>
														<input type="text" name="price" id="price" class="le-value _price" value="" />
													</div>
                          
													<!-- Custom Fields - With Price -->
                          {% if a_product_list_field_custom_price|length > 0 %}
                          {% for key,value in a_product_list_field_custom_price %} 
													<div class="le-row">
														<span class="le-label">{{ a_product_list_field_custom_price[key]['description'][config_language_id] }}</span>
														<input type="text" name="{{ key }}" id="custom-{{ key }} " class="le-value _price" value="" />
													</div>
													{% endfor %} 
													{% endif %} 
												</div>
                        <!-- Price Block . End -->
                        
                        <!-- Tax Class -->
												{% if ('tax_class' in a_product_list_field) %} 
												<div class="le-row">
													<span class="le-label">{{ entry_tax_class }}</span>
													<select name="tax_class_id" id="input-stock-status" class="le-value le-selector">
														<option value="*" selected="selected">{{ text_none }}</option>
														{% for tax_class in tax_classes %} 
														<option value="{{ tax_class['tax_class_id'] }}">{{ tax_class['title'] }}</option>
														{% endfor %} 
													</select>
												</div>
												{% endif %}

												<!-- Points -->
												{% if ('points' in a_product_list_field) %} 

												<div class="product-reward well well-sm">
													<div class="le-row" style="border-bottom: 1px solid #ccc; padding-bottom: 10px;">
														<span class="le-label">{{ entry_points }}</span>
														<input type="text" name="points" id="input-points" class="le-value" value="" />
													</div>
													<!-- Product Reward -->
													{% for customer_group in customer_groups %} 
													<div class="le-row">
														<span class="le-label">{{ customer_group['name'] }}</span>
														<input type="text" name="product_reward[{{ customer_group['customer_group_id'] }}][points]" id="input-product-reward-{{ customer_group['customer_group_id'] }}" class="le-value" value="" />
													</div>
													{% endfor %} 
												</div>

												{% endif %} 

												<!-- Status -->
												<div class="le-row">
													<span class="le-label">{{ entry_status }}</span>
													<select name="status" id="input-status" class="le-value le-selector">
														<option value="*" selected="selected">{{ text_none }}</option>
														<option value="1">{{ text_enabled }}</option>
														<option value="0">{{ text_disabled }}</option>
													</select>
												</div>

                        <!-- Noindex -->
												{% if ('noindex' in a_product_list_field) %}
												<div class="le-row">
													<span class="le-label">{{ entry_noindex }}</span>
													<select name="noindex" id="input-noindex" class="le-value le-selector">
														<option value="*" selected="selected">{{ text_none }}</option>
														<option value="1">{{ text_enabled }}</option>
														<option value="0">{{ text_disabled }}</option>
													</select>
												</div>
												{% endif %} 

												<!-- Quantity -->
												<div class="le-row">
													<span class="le-label">{{ entry_quantity }}</span>
													<input type="text" name="quantity" id="quantity" class="le-value" />
												</div>

												<!-- Minimum -->
												{% if ('minimum' in a_product_list_field) %} 
												<div class="le-row">
													<span class="le-label">{{ entry_minimum }}</span>
													<input type="text" name="minimum" id="minimum" class="le-value" />
												</div>
												{% endif %} 
                        
												<!-- Weight -->
												{% if ('weight' in a_product_list_field) %} 												
                          <div class="le-row">
                            <span class="le-label">{{ entry_weight }}</span>
                            <input type="text" name="weight"class="le-value" />
                          </div>												
                          <!-- Weight Class -->
                          <div class="le-row">
                            <span class="le-label">{{ entry_weight_class }}</span>
                            <select name="weight_class_id" id="input-weight-class" class="le-value le-selector">
                              <option value="*" selected="selected">{{ text_none }}</option>
                              {% for weight_class in weight_classes %} 
                              <option value="{{ weight_class['weight_class_id'] }}">{{ weight_class['title'] }}</option>
                              {% endfor %} 
                            </select>
                          </div>												
												{% endif %}		
                        
                        <!-- Length (Dimension) -->
                        {% if ('dimension' in a_product_list_field) %}  
                          <div class="le-row">
                            <span class="le-label">{{ entry_dimension }}</span>
                            <input type="text" name="length" class="le-value" size="7" style="min-width: 48px; max-width: 64px; margin-left: 0;" />
                            <input type="text" name="width" class="le-value" size="7" style="min-width: 48px; max-width: 64px; margin-left: 4px;" />
                            <input type="text" name="height" class="le-value" size="7" style="min-width: 48px; max-width: 64px; margin-left: 4px;" />
                          </div>
                          <!-- Length Class -->
                          <div class="le-row">
                            <span class="le-label">{{ entry_length_class }}</span>
                            <select name="length_class_id" id="input-length-class" class="le-value le-selector">
                              <option value="*" selected="selected">{{ text_none }}</option>
                              {% for length_class in length_classes %} 
                              <option value="{{ length_class['length_class_id'] }}">{{ length_class['title'] }}</option>
                              {% endfor %} 
                            </select>
                          </div>
                        {% endif %} 

												<!-- Stock Status -->
												{% if ('stock_status' in a_product_list_field) %} 
												<div class="le-row">
													<span class="le-label">{{ entry_stock_status }}</span>
													<select name="stock_status_id" id="input-stock-status" class="le-value le-selector">
														<option value="*" selected="selected">{{ text_none }}</option>
														{% for stock_status in stock_statuses %} 
														<option value="{{ stock_status['stock_status_id'] }}">{{ stock_status['name'] }}</option>
														{% endfor %} 
													</select>
												</div>
												{% endif %}

												<!-- Subtract -->
												<div class="le-row">
													<span class="le-label">{{ entry_subtract }}</span>
													<select name="subtract" id="input-subtract" class="le-value le-selector">
														<option value="*" selected="selected">{{ text_none }}</option>
														<option value="1">{{ text_yes }}</option>
														<option value="0">{{ text_no }}</option>
													</select>
												</div>

												<!-- Shipping -->
												<div class="le-row">
													<span class="le-label">{{ entry_shipping }}</span>
													<select name="shipping" id="input-shipping" class="le-value le-selector">
														<option value="*" selected="selected">{{ text_none }}</option>
														<option value="1">{{ text_yes }}</option>
														<option value="0">{{ text_no }}</option>
													</select>
												</div>
												
                        {% if ('sort_order' in a_product_list_field) %}
                          <!-- Sort Order -->
                          <div class="le-row">
                            <span class="le-label">{{ entry_sort_order }}</span>
                            <input type="text" name="sort_order" id="sort_order" class="le-value" value="" />
                          </div>
                        {% endif %} 
												
												{% if ('date_added' in a_product_list_field) %} 
												<!-- Date Added -->
												<div class="le-row">
													<div class="date">
														<span class="le-label">{{ handy_entry_date_added }}</span>
														<input type="text" name="date_added" id="date_added" class="le-value" data-date-format="YYYY-MM-DD" />
														<span class="input-group-btn"><button class="btn-calendar" type="button"><i class="fa fa-calendar"></i></button></span>
													</div>
												</div>
												{% endif %} 
                        
                        {% if ('date_available' in a_product_list_field) %} 
												<!-- Date Available -->
												<div class="le-row">
													<div class="date">
														<span class="le-label">{{ entry_date_available }}</span>
														<input type="text" name="date_available" id="date_available" class="le-value" data-date-format="YYYY-MM-DD" />
														<span class="input-group-btn"><button class="btn-calendar" type="button"><i class="fa fa-calendar"></i></button></span>
													</div>
												</div>
												{% endif %} 
												
												{% if ('date_modified' in a_product_list_field) %} 
												<!-- Date Modified -->
												<div class="le-row">
													<div class="date">
														<span class="le-label">{{ handy_entry_date_modified }}</span>
														<input type="text" name="date_modified" id="date_modified" class="le-value" data-date-format="YYYY-MM-DD" />
														<span class="input-group-btn"><button class="btn-calendar" type="button"><i class="fa fa-calendar"></i></button></span>
													</div>
												</div>
												{% endif %} 

												{% if ('discount' in a_product_list_field) %} 
												<!-- discount -->
												<br>
												<div class="le-row">
													<span class="le-label discount-price">{{ handy_entry_discount }}</span>
													<label>
														<input type="checkbox" name="discount[flag_clear]" value="1" />
														{{ text_flag_discount_clear }} 
													</label><br>
													<div class="discount well well-sm">
														{% set discount_row = 0 %} 
														<div class="discount-container" id="discount-container">

														</div>
														<button type="button" class="btn btn-sm btn-success btn-add-discount" data-toggle="tooltip" title="{{ button_add }}" data-target="#discount-row-{{ discount_row }}" data-discount-row="{{ discount_row }}"><i class="fa fa-plus"></i></button>
													</div>
												</div>
												{% endif %} 

												{% if ('special' in a_product_list_field) %} 
												<!-- special -->
												<div class="le-row">
													<span class="le-label special-price">{{ handy_entry_special }}</span>
													<label>
														<input type="checkbox" name="special[flag_clear]" value="1" />
														{{ text_flag_special_clear }} 
													</label><br>
													<div class="special well well-sm">
														{% set special_row = 0 %} 
														<div class="special-container" id="special-container">

														</div>
														<button type="button" class="btn btn-sm btn-success btn-add-special" data-toggle="tooltip" title="{{ button_add }}" data-target="#special-row-{{ special_row }}" data-special-row="{{ special_row }}"><i class="fa fa-plus"></i></button>
													</div>
												</div>
												{% endif %} 

                        <!-- store -->
												{% if ('store' in a_product_list_field) %} 
												<div id="input-store"  class="input-store well well-sm" style="height: 150px; overflow: auto;">
													<span class="le-label">{{ entry_store }}</span>
													<div class="checkbox" style="float: left; width: calc(100% - 100px); padding-top: 0; margin-top: 0;">
														{% for store in stores %} 
														<label>
															<input type="checkbox" name="product_store[]" value="{{ store['store_id'] }}" />
															{{ store['name'] }} 
														</label><br>
													{% endfor %} 
													</div>
												</div>
												{% endif %} 
                        
                        <!-- related -->
                        {% if ('related' in a_product_list_field) %}
                        <div id="related" class="related">
                          <span class="le-label w100">{{ entry_related }} — {{ text_flag_add }}</span>
                          <input type="text" name="related" value="" placeholder="{{ entry_related }}" id="input-related" class="le-value w100 input-related"/>
                          <div id="products-related" class="products-related well well-sm w100" style="height: 150px; overflow: auto;"></div>
											</div>
                        
                        <!-- related delete -->
                        <div id="related-delete" class="related-delete">
                          <span class="le-label w100">{{ entry_related }} — {{ text_flag_delete }}</span>
                          <input type="text" name="related_delete" value="" placeholder="{{ entry_related }}" id="input-related-delete" class="le-value w100 input-related"/>
                          <div id="products-related-delete" class="products-related-delete well well-sm w100" style="height: 150px; overflow: auto;"></div>
                        </div>
                        {% endif %}
                        
                        <!-- filter -->
                        {% if ('filter' in a_product_list_field) %}
                        <div id="filter" class="filter">
                          <span class="le-label w100">{{ entry_filter }} — {{ text_flag_add }}</span>
                          <input type="text" name="filter" value="" placeholder="{{ entry_filter }}" id="input-filter" class="le-value w100 input-filter"/>
                          <div id="product-filters" class="product-filters well well-sm w100" style="height: 150px; overflow: auto;"></div>
											</div>
                        
                        <!-- filter delete -->
                        <div id="filter-delete" class="filter-delete">
                          <span class="le-label w100">{{ entry_filter }} — {{ text_flag_delete }}</span>
                          <input type="text" name="filter_delete" value="" placeholder="{{ entry_filter }}" id="input-filter-delete" class="le-value w100 input-filter"/>
                          <div id="product-filters-delete" class="product-filters-delete well well-sm w100" style="height: 150px; overflow: auto;"></div>
                        </div>
                        {% endif %}
                        
                        
											</div>
										</td>
                    
										<!-- Description -->
										<td id="description" class="description text-left {% if ('attribute' not in a_product_list_field and 'option' not in a_product_list_field) %} prevent-wide-images__description {% endif %}">
                      <div class="alert alert-info" style="margin-bottom: 8px;">
                        <i class="fa fa-info-circle" aria-hidden="true"></i> {{ text_randomizer }}
                      </div>
												{% for language in languages %} 
												<div class="description-language-row">
													<div class="language-icon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}"  /></div>
													<div class="description-content" data-language-id="{{ language['language_id'] }}">
                            <!-- Description Flag (All Fields) -->  
                            <div class="le-row" style="padding-left: 0px;">
                              <span class="le-label">&nbsp;</span>
                              <label for="description-flag-{{ language['language_id'] }}"><input id="description-flag-{{ language['language_id'] }}" type="checkbox" name="description_flag[{{ language['language_id'] }}]" value="1" />
                                {{ text_flag_description }}
                              </label><br>
														</div>
                            
														<!-- Name -->
														<div class="le-row">
															<span class="le-label">{{ entry_name }}</span>
															<textarea id="name-{{ language['language_id'] }}" name="description[{{ language['language_id'] }}][name]" cols="5" rows="5" class="le-value"></textarea>
															<div class="vars"><span class="vars-label">{{ text_available_vars }}:</span> <span class="vars-value">[manufacturer_name] [sku] [model] + [original_text]</span></div>
														</div>
														<!-- H1 -->
														{% if (h1) %} 
														<div class="le-row">
															<span class="le-label">{{ handy_entry_h1 }}</span>
															<textarea id="{{ h1 }}-{{ language['language_id'] }}" name="description[{{ language['language_id'] }}][{{ h1 }}]" cols="5" rows="5" class="le-value _{{ h1 }}"></textarea>
															<div class="vars"><span class="vars-label">{{ text_available_vars }}:</span> <span class="vars-value">[product_name] [manufacturer_name] [sku] [model] + [original_text]</span></div>
														</div>
														{% endif %} 
														<!-- Meta Title -->
														<div class="le-row">
															<span class="le-label">{{ entry_meta_title }}</span>
															<textarea id="meta-title-{{ language['language_id'] }}" name="description[{{ language['language_id'] }}][meta_title]" cols="5" rows="5" class="le-value _meta-title"></textarea>
															<div class="vars"><span class="vars-label">{{ text_available_vars }}:</span> <span class="vars-value">[product_name] [manufacturer_name] [sku] [model] + [original_text]</span></div>
														</div>
														<!-- Meta Description -->
														<div class="le-row">
															<span class="le-label">{{ entry_meta_description }}</span>
															<textarea id="meta-description-{{ language['language_id'] }}" name="description[{{ language['language_id'] }}][meta_description]" cols="5" rows="5" class="le-value _meta-description"></textarea>
															<div class="vars"><span class="vars-label">{{ text_available_vars }}:</span> <span class="vars-value">[product_name] [manufacturer_name] [sku] [model] + [original_text]</span></div>
														</div>
														<!-- Meta Keyword -->
														<div class="le-row">
															<span class="le-label">{{ entry_meta_keyword }}</span>
															<textarea id="meta-keyword-{{ language['language_id'] }}" name="description[{{ language['language_id'] }}][meta_keyword]" cols="5" rows="5" class="le-value"></textarea>
															<div class="vars"><span class="vars-label">{{ text_available_vars }}:</span> <span class="vars-value">[product_name] [manufacturer_name] [sku] [model] + [original_text]</span></div>
														</div>
														<!-- Tag -->
														<div class="le-row">
															<span class="le-label">{{ entry_tag }}</span>
															<textarea id="tag-{{ language['language_id'] }}" name="description[{{ language['language_id'] }}][tag]" cols="5" rows="5" class="le-value _tag"></textarea>
														</div>
														<!-- Description -->
														<div class="le-row">
															<span class="le-label" style="display: block; float: none; margin-bottom: 10px;">{{ entry_description }}</span>
															<textarea id="description-{{ language['language_id'] }}" name="description[{{ language['language_id'] }}][description]" cols="5" rows="25" class="le-value tinymce" style="height: 400px;"></textarea>
															<div class="vars"><span class="vars-label">{{ text_available_vars }}:</span> <span class="vars-value">[product_name] [manufacturer_name] [sku] [model] + [original_text]</span></div>
														</div>
													</div>
												</div>
												{% endfor %} 
										</td>

										<!-- Attribute -->
										<td id="attributes" class="attributes">
											<!-- Attribute Flag -->
											<div class="form-group">
                        <select name="attribute_flag" id="input-attribute-flag" class="le-value le-selector">
                          <option value="add">{{ text_flag_add }}</option>
                          <option value="delete_all_and_add_new">{{ text_flag_delete_all_and_add_new }}</option>
                          <option value="delete">{{ text_flag_delete }}</option>
                          <option value="reset_values">{{ text_flag_reset_values_attribute }}</option>
                          <option value="update">{{ text_flag_update_attribute }}</option>
                        </select>
											</div>

											{% set attribute_row = 0 %} 
											<div class="attributes-container" id="attributes-container">

											</div>
											<button type="button" class="btn btn-sm btn-success btn-add-attribute" data-toggle="tooltip" title="{{ button_add }}" data-target="#attributes-container" data-target-row="{{ attribute_row }}"><i class="fa fa-plus"></i></button>
										</td>

										<!-- Option -->
										<td id="options" class="options">

											<!-- Option Flag -->
											<div class="form-group">
                        <select name="option_flag" id="input-option-flag" class="le-value le-selector">
                          <option value="add">{{ text_flag_add }}</option>
                          <option value="delete_all_and_add_new">{{ text_flag_delete_all_and_add_new }}</option>
                          <option value="delete">{{ text_flag_delete }}</option>
                          <option value="update_requirement">{{ text_flag_update_option_requirement }}</option>
{#                          <option value="update">{{ text_flag_update_option }}</option>#}
                        </select>
											</div>

											{% set option_row = 0 %} 
											<div class="options-container" id="options-container">

											</div>
											<button type="button" class="btn btn-sm btn-success btn-add-option" data-toggle="tooltip" title="{{ button_add }}" data-target="#options-container"  data-target-row="{{ option_row }}"><i class="fa fa-plus"></i></button>
										</td>
									</tr>
								</tbody>
						</table>
						<div id="request-answer"></div>
            
            <!-- Loader -->
            <div class="loader">
              <div class="loader-dialog"></div>
              <div class="loader-statistics"></div>
              <div class="loader-stopwatch timerDisplay">00 : 00 : 00 : 000</div>
              <div class="loader-icon"></div>
            </div>
            
          </div>
				</div>
				<!-- Mass Edit Editor . End -->

				<!-- Mass Edit Button . Begin -->
				<div class="row">
					<div class="col-sm-12">
						<div class="pull-right">
              <input id="input-delete-products" class="le-value" type="checkbox" name="delete_product_flag" value="1" />
              <label class="le-label" style="margin-right: 15px;" for="input-delete-products"><span class="text-danger">{{ handy_entry_delete_products }}</span></label>
							<button id="mass-edit-submit" data-toggle="tooltip" title="{{ button_execute }}" class="btn btn-primary"><i class="fa fa-paper-plane-o"></i> {{ button_execute }}</button>
						</div>
					</div>
				</div>
				<!-- Mass Edit Button . End -->
				</form>
				{% endif %} 
      </div>
    </div>
    <div class="copywrite" style="padding: 10px 10px 0 10px; border: 1px dashed #ccc;">
      <p>{{ text_version }}</p>
    	<p>
    		&copy; {{ text_author }}: <a href="https://bit.ly/mod-handy" target="_blank">Serge Tkach</a>
    		<br/>
				{{ text_author_support }}: <a href="mailto:sergetkach.help@gmail.com">sergetkach.help@gmail.com</a>
    	</p>
      <p>{{ check_license }}</p>   
    </div>
  </div>
</div>

<script src='view/javascript/4handy/tinymce/tinymce.min.js'></script>

<script type="text/javascript">
  // save login
  // based on https://forum.opencart.pro/topic/3269-как-увеличить-время-админской-сессии/
  function pingServer() {
    $.ajax({ url: '{{ constant('HTTPS_SERVER') }}index.php?route=common/dashboard&user_token={{ user_token }}' });
  }
  $(document).ready(function() {
     setInterval('pingServer()', 60000);
  });
</script>

<script>  
// https://overcoder.net/q/35900/htmlspecialchars-%D1%8D%D0%BA%D0%B2%D0%B8%D0%B2%D0%B0%D0%BB%D0%B5%D0%BD%D1%82-%D0%B2-javascript
// it is necessary for product list and mass editt to
function escapeHtml(text) {
  var map = {
    '&': '&amp;',
    '<': '&lt;',
    '>': '&gt;',
    '"': '&quot;',
    "'": '&#039;'
  };

  return text.replace(/[&<>"']/g, function(m) { return map[m]; });
}

function strip_tags (input, allowed) { // eslint-disable-line camelcase
  //  discuss at: http://locutus.io/php/strip_tags/
  // original by: Kevin van Zonneveld (http://kvz.io)
  // improved by: Luke Godfrey
  // improved by: Kevin van Zonneveld (http://kvz.io)
  //    input by: Pul
  //    input by: Alex
  //    input by: Marc Palau
  //    input by: Brett Zamir (http://brett-zamir.me)
  //    input by: Bobby Drake
  //    input by: Evertjan Garretsen
  // bugfixed by: Kevin van Zonneveld (http://kvz.io)
  // bugfixed by: Onno Marsman (https://twitter.com/onnomarsman)
  // bugfixed by: Kevin van Zonneveld (http://kvz.io)
  // bugfixed by: Kevin van Zonneveld (http://kvz.io)
  // bugfixed by: Eric Nagel
  // bugfixed by: Kevin van Zonneveld (http://kvz.io)
  // bugfixed by: Tomasz Wesolowski
  //  revised by: Rafał Kukawski (http://blog.kukawski.pl)
  //   example 1: strip_tags('<p>Kevin</p> <br /><b>van</b> <i>Zonneveld</i>', '<i><b>')
  //   returns 1: 'Kevin <b>van</b> <i>Zonneveld</i>'
  //   example 2: strip_tags('<p>Kevin <img src="someimage.png" onmouseover="someFunction()">van <i>Zonneveld</i></p>', '<p>')
  //   returns 2: '<p>Kevin van Zonneveld</p>'
  //   example 3: strip_tags("<a href='http://kvz.io'>Kevin van Zonneveld</a>", "<a>")
  //   returns 3: "<a href='http://kvz.io'>Kevin van Zonneveld</a>"
  //   example 4: strip_tags('1 < 5 5 > 1')
  //   returns 4: '1 < 5 5 > 1'
  //   example 5: strip_tags('1 <br/> 1')
  //   returns 5: '1  1'
  //   example 6: strip_tags('1 <br/> 1', '<br>')
  //   returns 6: '1 <br/> 1'
  //   example 7: strip_tags('1 <br/> 1', '<br><br/>')
  //   returns 7: '1 <br/> 1'

  // making sure the allowed arg is a string containing only tags in lowercase (<a><b><c>)
  allowed = (((allowed || '') + '').toLowerCase().match(/<[a-z][a-z0-9]*>/g) || []).join('')

  var tags = /<\/?([a-z][a-z0-9]*)\b[^>]*>/gi;
  var commentsAndPhpTags = /<!--[\s\S]*?-->|<\?(?:php)?[\s\S]*?\?>/gi;

  return input.replace(commentsAndPhpTags, '').replace(tags, function ($0, $1) {
    return allowed.indexOf('<' + $1.toLowerCase() + '>') > -1 ? $0 : '';
  })
}

tinymce.init({
	selector: '.tinymce',
	skin: 'bootstrap',
	language: 'ru',
	height:300,
	plugins: [
		'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
		'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
		'save table contextmenu directionality emoticons template paste textcolor colorpicker'
	],
	toolbar: 'bold italic sizeselect fontselect fontsizeselect | hr alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | insertfile undo redo | forecolor backcolor emoticons | code',
	fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",

	paste_remove_styles: true,
	paste_remove_spans: true,
	paste_strip_class_attributes: 'all',
	paste_block_drop: true,

	paste_preprocess : function(pl, o) {
		o.content = strip_tags(o.content, '<p><br><h2><h3><h4><h5><h6><ul><ol><li><strong><b><table><tbody><tr><td><img><iframe>');
	},
	init_instance_callback: function (editor) {
		editor.on('blur', function (e) {
			$('#' + e.target.id).val(editor.getContent().split('&nbsp;').join(''));
			$('#' + e.target.id).trigger('change');
		});
	}
});

</script>

<script type="text/javascript">
function initButtonCalendar() {
	console.log('initButtonCalendar() is called');
	
  $('.date').datetimepicker({
    pickTime: false,
  }).on('dp.change', function (e) {
    $(e.currentTarget).children('.le-value').trigger('change');
  });
}

initButtonCalendar();

function initButtonCalendarWithTime() {
	console.log('initButtonCalendarWithTime() is called');
  $('.datetime').datetimepicker({
    pickDate: true,
    pickTime: true,
  }).on('dp.change', function (e) {
    $(e.currentTarget).children('.le-value').trigger('change');
  });
}

initButtonCalendarWithTime();

{% if ('autocomplete' == categories_mode) %}
  // Category
  $('input[name=\'category\']').autocomplete({
	  'source': function(request, response) {
		  $.ajax({
			  url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
			  dataType: 'json',
			  success: function(json) {
				  response($.map(json, function(item) {
					  return {
						  label: item['name'],
						  value: item['category_id']
					  }
				  }));
			  }
		  });
	  },
	  'select': function(item) {
		  $('input[name=\'category\']').val('');

		  $('#category-autocomplete' + item['value']).remove();

		  $('#category-autocomplete').append('<div id="category-autocomplete' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="categories[]" value="' + item['value'] + '" /></div>');
	  }
  });

  $('#category-autocomplete').delegate('.fa-minus-circle', 'click', function() {
	  $(this).parent().remove();
  });

{% endif %}
</script>

{{ js_mass_edit }}
{{ footer }}